{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Busqueda de Cirugías </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Cirugía</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="{% url 'app:listarcirugia' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="epaciente" name="epaciente" type="text" >

                                                    </div>
                                                </div>
                                             <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Consulta:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control" value="dd-mm-aaaa" id="fecha" name="fecha" >

                                                        </div>
                                                </div>


                                            <div class="form-group ">
                                                <label for="nmed" class="control-label col-lg-2">Tipo de Cirugía:</label>
                                                  <div class="col-lg-10">
                                                      <select name="tcirugia" class="form-control" >
                                                          <option value=''>Elija Tipo Cirugia</option>
                                                             {% for cirus in ciru %}
                                                                 <option value="{{ cirus.codigo }}">{{ cirus.catalogo }}</option>
                                                             {% endfor %}
                                                      </select>
                                                  <br>
                                                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                                                  </div>
                                            </div>





                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos de la Cirugía</h3></div>
                                    <div class="panel-body">

                                        {% if cirugia%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Tipo de Cirugía</th>
                                          <th scope="col">Id Consulta Médica</th>
                                          <th scope="col">Fecha de Emisión</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for cirugias in cirugia %}
                                        <tr>
                                         <th scope="row">{{  cirugias.id_catalogo.catalogo }}</th>

                                         <td>{{ cirugias.id_conultamedica.id_conultamedica}}</td>

                                         <td>{{  cirugias.id_conultamedica.fecha_consulta}}</td>
                                         <td>

                                                        <a href="{% url 'app:detallarcirugia' cirugias.id_conultamedica.id_conultamedica %}" ><span class="label label-success">ver</span></a>
                                                        <a href="{% url 'app:vercirugia' cirugias.id_conultamedica.id_conultamedica %}"><span class="label label-warning">Editar</span></a>
                                                        <a href="{% url 'app:guardarCirugia' cirugias.id_conultamedica.id_conultamedica %}"><span class="label label-purple">Seguimientos</span></a>
                                                        <a href="{% url 'app:eliminarcirugia' cirugias.id_conultamedica.id_conultamedica %}" onclick="return confirm('Desea Eliminar la Cirugia')"><span class="label label-danger">Eliminar</span></a>



                                         </td>
    </tr>
                                      {% endfor %}

  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Tipo de Cirugía</th>
                                          <th scope="col">Id Consulta Médica</th>
                                          <th scope="col">Fecha</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">Nombre Cirugía</th>
                                         <td>Id</td>
                                         <td>Fecha Consulta</td>

    </tr>

  </tbody>
</table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}