
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title"> Cirugía </h4>

                            </div>
                        </div>





                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Detalles de Cirugía</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                               {% if cirugia and dcirugia %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre de la Cirugía: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ cirugia.id_catalogo.catalogo }}" >


                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de la Cirugía:</label>
                                                    <div class="col-lg-10">
                                                        <textarea readonly="readonly" class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200">{{ dcirugia.descripcion }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Nombre del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input type="text"  class="form-control" value="{{ cirugia.id_conultamedica.id_paciente.id_persona.nombre }} {{ cirugia.id_conultamedica.id_paciente.id_persona.apellido }}" id="" name="" readonly="readonly">

                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Cirugía:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="{{ cirugia.fecha_programada.isoformat }}" id="" name="fecha" readonly="readonly">
                                                       </div>
                                                </div>


                                                         <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Hora:</label>

                                                        <div class="col-lg-10">
                                                            <input type="time" class="form-control" value="{{ cirugia.hora}}" id="" name="hora" readonly="readonly">
                                                       </div>
                                                </div>

                                                         <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Procedimiento de la Cirugía:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="Pcirugia" name="Pcirugia" maxlength="200" readonly="readonly">{{ dcirugia.procedimiento }}</textarea>
                                                    </div>
                                                </div>


                                                    </form>
                                            {% elif cirugia %}

                                                   <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre de la Cirugía: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ cirugia.id_catalogo.catalogo }}" >

                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de la Cirugía:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200" readonly="readonly"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="{{ cirugia.id_conultamedica.id_paciente.id_persona.nombre }} {{ cirugia.id_conultamedica.id_paciente.id_persona.apellido }}" id="" name="" readonly="readonly">

                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Cirugía:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="{{ cirugia.fecha_programada.isoformat }}" id="fecha" name="fecha" value="" readonly="readonly">
                                                       </div>
                                                </div>

                                                        <div class="form-group ">
                                                    <label for="hora" class="control-label col-lg-2">Hora:</label>

                                                        <div class="col-lg-10">
                                                            <input type="time" class="form-control" value="{{ cirugia.hora }}" id="" name="hora" readonly="readonly">
                                                       </div>
                                                </div>

                                                         <div class="form-group ">
                                                    <label for="Pcirugia" class="control-label col-lg-2">Procedimiento de la Cirugía:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="Pcirugia" name="Pcirugia" maxlength="200" readonly="readonly"></textarea>
                                                    </div>
                                                </div>

                                                    </form>
                                            {% endif %}





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}