{% extends "app/base_template.html" %}

{% block content %}
    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">
                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Busqueda de pacientes</h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="#">Moltran</a></li>
                                    <li><a href="#">Tables</a></li>
                                    <li class="active">Datatable</li>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Criterios de búsqueda</h3></div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form" method="POST">
                                            {% csrf_token %}                                            <div class="form-group">
                                            <label class="col-md-2 control-label">NO. Expediente</label>
                                                <div class="col-md-10">
                                                    <input type="text" name="noExpediente" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Nombre</label>
                                                <div class="col-md-10">
                                                    <input type="text" name="nombrePaciente" class="form-control" PLACEHOLDER="Ingrese el nombre">
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label class="col-md-2 control-label">Apellido</label>
                                                <div class="col-md-10">
                                                    <input type="text" name="apellidoPaciente" class="form-control" PLACEHOLDER="Ingrese apellido">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label"></label>
                                                <div class="col-md-10">
                                                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                                </div>
                                            </div>

                                            <button type="submit"  class="btn btn-success waves-effect waves-light m-l-10">Buscar</button>

                                        </form>
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->
                        </div> <!-- End row -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Pacientes</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <table id="datatable" class="table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Codigo paciente</th>
                                                            <th>Nombre</th>
                                                            <th>Apellido</th>
                                                            <th>Fecha nacimiento</th>
                                                            <th>Correo</th>
                                                            <th>Usuario</th>
                                                        </tr>
                                                    </thead>


                                                    <tbody>
                                                        {% for paciente in personas %}
                                                            <tr>
                                                                <td>{{ paciente.codigo_expediente}}</td>
                                                                <td>{{ paciente.id_persona.nombre }}</td>
                                                                <td>{{ paciente.id_persona.apellido }}</td>
                                                                <td>{{ paciente.id_persona.fecha_nacimiento }}</td>
                                                                <td>{{ paciente.id_persona.email }}</td>
                                                                {% if paciente.id_persona.user  %}
                                                                    <td>{{ paciente.id_persona.user.username }}</td>
                                                                {% else %}
                                                                    <td>
                                                                        <button onclick="agregar({{paciente.id_persona.id_persona }})" class="btn btn-primary waves-effect waves-light">Add <i class="fa fa-plus"></i></button>
                                                                    </td>
                                                                {% endif %}
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- End Row -->
                    </div>
                </div>
    </div>

      <!-- Modal -->
  <div class="modal fade" id="agregar" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <form action="{% url 'app:usuarioCreate' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
              <h4 id="title" class="modal-title">Agregar paciente</h4>
            </div>
            <div class="modal-body">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           <a data-toggle="collapse" data-parent="#accordion2" href="#collap1">Datos de la cuenta</a>
                        </h4>
                    </div>
                 <div id="collap1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                   <div class="col-sm-4 form-group">
                        <label>Usuario</label>
                        <input id="idPersona" name="idPersona"  type="hidden" />
                        <input required="true" class="form-control" type="text" id="nombre" name="usuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Contraseña</label>
                        <input required="true" class="form-control" type="password" id="clave" name="clave">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Confirmar contraseña</label>
                        <input required="true" class="form-control" type="password" id="confirmar">
                    </div>
                </div>


              </div>
            </div>
                </div>
             </div>
            <div class="modal-footer">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" name="" value="Guardar">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
            </div>
            </div>
        </form>
        </div>

        </div>
    </div>
        <script type="text/javascript">

    function agregar(idPersona) {
        $("#title").html("Crear usuario");
        $("#idPersona").val(idPersona);

         $("#agregar").modal('show');
    }
     </script>
{% endblock %}
