{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Asignar Examen Médico </h4>



                            </div>
                        </div>
                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Examen Médico</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:AsignarAPaceinte' consulta.id_conultamedica %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="epaciente" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input  class=" form-control"  type="text" value="{{ consulta.id_paciente.id_persona.nombre}} {{consulta.id_paciente.id_persona.apellido }}" readonly="readonly">
                                                        <input name="epaciente" class=" form-control"  type="hidden" value="{{ consulta.id_paciente.id_paciente }}" >

                                                    </div>
                                                </div>

                                                        <div class="form-group ">
                                                    <label for="responsable" class="control-label col-lg-2">Nombre del examen:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="catalogo" id="catalogo" required>
                                                        <option value="">seleccione un Examen</option>
                                                            {% for catalogos in catalogo %}
                                                            <option value="{{ catalogos.id_catalogo }}">{{ catalogos.catalogo}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                    {% if confirm_message %}<p><strong><h3 class="label label-success">{{ confirm_message }}</h3></strong></p>{% endif %}
                                                    {% if message_error %}<p><strong><h3 class="label label-danger">{{ message_error }}</h3></strong></p>{% endif %}<br>


                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>

                                                    </form>





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>



{% endblock %}