{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Examenes Activos </h4>

                            </div>
                        </div>


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos de Los Examenes</h3></div>
                                    <div class="panel-body">

                                        {% if examen%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Examen Clinico</th>
                                          <th scope="col">Fecha de Asignación</th>
                                            <th scope="col">Opciones</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for examenes in examen %}
                                        <tr>
                                        <th scope="row">{{ examenes.id_paciente.id_persona.nombre}} {{ examenes.id_paciente.id_persona.apellido}}</th>
                                         <td>{{ examenes.id_catalogo.catalogo}}</td>
                                         <td>{{ examenes.fecha}} </td>
                                         <td>
                                             <a href="{% url 'app:EliminarExamenesActivos' examenes.id_examen %}" onclick="return confirm('¿Desea Eliminar el Examen?')"><span class="label label-danger">Eliminar Examen</span></a>
                                         </td>
                                     </tr>
                                      {% endfor %}


  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Examen Clinico</th>
                                          <th scope="col">Fecha de Asignación</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay registros</th>


                                        </tr>

                                       </tbody>
                                </table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}