{% load widget_tweaks %}
{% load static %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Archivos de Examen: "{{ examen.id_catalogo.catalogo }}"</h4>
</div>
<div class="modal-body">


                                                       <div class="form-group">
                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse9">Video </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse9" class="panel-collapse collapse" >
                                                                        {% for adjuntos in adjunto %}
                                                                            {% ifequal adjuntos.video '' %}
                                                                                {% else %}


                                                                          <video id="video"  width="350" height="230" src="{% static  'media/'%}{{ adjuntos.video }}"  controls >
                                                                          </video>

                                                                            {% endifequal %}
                                                                            {% endfor %}

                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>




                                                       <div class="form-group">
                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse7">Imagen </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse7" class="panel-collapse collapse">
                                                                        {% for adjuntos in adjunto %}
                                                                            {% ifequal adjuntos.imagen '' %}
                                                                                {% else %}


                                                                         <img data-target="#miModal" data-toggle="modal" width="650" height="480" src="{% static 'media/'%}{{ adjuntos.imagen }}" alt="No Existen Registros">

                                                                            {% endifequal %}
                                                                            {% endfor %}

                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>




                                                       <div class="form-group">
                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse8">Audio </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse8" class="panel-collapse collapse">
                                                                      {% for adjuntos in adjunto %}
                                                                          {% ifequal adjuntos.audio '' %}
                                                                              {% else %}

                                                                         <audio controls src="{% static 'media/'%}{{ adjuntos.audio }}"></audio>

                                                                          {% endifequal %}
                                                                          {% endfor %}

                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>
















































</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
