{% load widget_tweaks %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Resultado de Examen: "{{ resultado.id_examen.id_catalogo.catalogo }}"</h4>
</div>
<div class="modal-body">
  <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{ resultado.id_examen.id_paciente.id_persona.nombre}} {{resultado.id_examen.id_paciente.id_persona.apellido }}" >
                                                    </div>
                                                </div>


                                                    <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Examen Médico: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{resultado.id_examen.id_catalogo.catalogo}}" >

                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Nombre del Encargado:</label>
                                                    <div class="col-lg-10">
                                                       <input  class=" form-control"   type="text" value="{{resultado.encargado}} " readonly="readonly" >

                                                    </div>
                                                </div>
                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción:</label>
                                                    <div class="col-lg-10">
                                                        <textarea readonly="readonly" class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200" >{{ resultado.descripcion }}</textarea>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Resultado:</label>
                                                    <div class="col-lg-10">
                                                        <textarea readonly="readonly" class="form-control" rows="3" id="resultado" name="resultado" maxlength="300" >{{ resultado.resultado }}</textarea>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Observación:</label>
                                                    <div class="col-lg-10">
                                                        <textarea readonly="readonly" class="form-control" rows="3" id="observacion" name="observacion" maxlength="300" >{{ resultado.observacion }}</textarea>
                                                    </div>
                                                </div>

                                                    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
