
{% extends "app/base_template.html" %}

{% block content %}

     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Asignación de Tratamiento</h4>

                            </div>
                        </div>

                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Tratamiento</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                               {% if consulta_id and catalogoTratamiento %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:guardarTratamiento' %}" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">No. Expediente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ consulta_id.id_paciente.codigo_expediente }}" >
                                                        <input class=" form-control" id="" name="id_conultamedica" type="hidden" value="{{ consulta_id.id_conultamedica }}" >
                                                     </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción del Tratamiento:</label>
                                                    <div class="col-lg-10">
                                                        <textarea  class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="dosis" class="control-label col-lg-2">Dosis:</label>
                                                    <div class="col-lg-10">
                                                        <textarea  class="form-control" rows="3" id="" name="dosisT" maxlength="200"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de servicio:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="" id="" name="fecha_servicio">
                                                       </div>
                                                </div>
                                                 <div class="form-group ">
                                                                          <label for="nmed" class="control-label col-lg-2">Tipo de Tratamiento:</label>
                                                                           <div class="col-lg-10">
                                                                             <select name="tipoTratamiento" class="form-control" >
                                                                                 <option value='0'>Elija Tipo de Tratamiento</option>
                                                                                 {% for catalogo in catalogoTratamiento %}

                                                                                 <option value="{{ catalogo.id_catalogo }}">{{ catalogo.catalogo }}</option>
                                                                                 {% endfor %}
                                                                             </select>

                                                                           </div>
                                                                        </div>
                                                    <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Agregar</button>

                                                    </div>
                                                </div>
                                                    </form>
                                            {% else %}

                                                     <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:guardarTratamiento' %}" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">No. Expediente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ consulta_id.id_paciente.codigo_expediente }}" >
                                                        <input class=" form-control" id="" name="id_conultamedica" type="hidden" value="{{ consulta_id.id_conultamedica }}" >
                                                     </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción del Tratamiento:</label>
                                                    <div class="col-lg-10">
                                                        <textarea  class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="dosis" class="control-label col-lg-2">Dosis:</label>
                                                    <div class="col-lg-10">
                                                        <textarea  class="form-control" rows="3" id="" name="dosisT" maxlength="200"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de servicio:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="" id="" name="fecha_servicio">
                                                       </div>
                                                </div>
                                                 <div class="form-group ">
                                                                          <label for="nmed" class="control-label col-lg-2">Tipo de Tratamiento:</label>
                                                                           <div class="col-lg-10">
                                                                             <select name="tipoTratamiento" class="form-control" >
                                                                                 <option value='0'>Elija Tipo de Tratamiento</option>
                                                                                 {% for catalogo in catalogoTratamiento %}

                                                                                 <option value="{{ catalogo.id_catalogo }}">{{ catalogo.catalogo }}</option>
                                                                                 {% endfor %}
                                                                             </select>

                                                                           </div>
                                                                        </div>
                                                    <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Agregar</button>

                                                    </div>
                                                </div>
                                                    </form>
                                            {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}