{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Busqueda de Consultas para Tratamiento</h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Consulta</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="{% url 'app:listarConsultaTratamiento' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="epaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="epaciente" name="epaciente" type="text" maxlength="25" >

                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Consulta:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control" value="dd-mm-aaaa" id="fecha" name="fecha" >
                                                        </div>
                                                </div>

                                             <div class="form-group ">
                                                    <label for="diagnostico" class="control-label col-lg-2">Código Diagnóstico:</label>

                                                        <div class="col-lg-10">
                                                          <input type="text" class="form-control"  id="diagnostico" name="diagnostico" >
                                                            <br>
                                                             {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                                        </div>
                                                </div>





                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Consultas</h3></div>
                                    <div class="panel-body">

                                        {% if consulta %}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Código del Expediente</th>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha de la Consulta</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for consultas in consulta %}
                                        <tr>
                                         <th scope="row">{{  consultas.id_paciente.codigo_expediente }}</th>

                                         <td>{{ consultas.id_paciente.id_persona.nombre}} {{ consultas.id_paciente.id_persona.apellido}}</td>

                                         <td>{{  consultas.fecha_consulta}}</td>
                                         <td>
                                                        <a href="{% url 'app:guardarTratamientoAsignacion' consultas.id_conultamedica %}"><span class="label label-success">Asignar Tratamiento</span></a>
                                                        <a href="{% url 'app:listarTratamientos' consultas.id_conultamedica %}"><span class="label label-purple">Lista de Tratamientos</span></a>

                                         </td>
    </tr>
                                      {% endfor %}

  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Código del Expediente</th>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha de la Consulta</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">1</th>
                                         <td>Nombre del Paciente</td>
                                         <td>Fecha de la Consulta</td>

    </tr>

  </tbody>
</table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}