{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Listado de Tratamientos</h4>

                            </div>
                        </div>

                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Listado</h3></div>
                                    <div class="panel-body">

                                        {% if tratAsignados %}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Fecha:</th>
                                          <th scope="col">Descripción:</th>
                                           <th scope="col">Dosis:</th>
                                            <th scope="col">Tipo Tratamiento</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for trat in tratAsignados %}
                                        <tr>
                                        <td>{{  trat.fecha_servicio}}</td>
                                        <td>{{  trat.descripcion}}</td>
                                        <td>{{  trat.dosis}}</td>
                                        <th scope="row">{{  trat.id_catalogo.catalogo }}</th>
                                        <td>
                                                        <a href="{% url 'app:editarTrat' trat.id_tratamiento2 %}" ><span class="label label-warning">Editar</span></a>
                                                        <a onclick="return confirm('¿Desea Eliminar el Tratamiento?')" href="{% url 'app:eliminarTratamiento' trat.id_tratamiento2 %}" ><span class="label label-danger">Eliminar</span></a>
                                         </td>

                                        </tr>
                                       {% endfor %}

  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Fecha:</th>
                                          <th scope="col">Descripción:</th>
                                           <th scope="col">Dosis:</th>
                                            <th scope="col">Tipo Tratamiento</th>
                                            <th scope="col">Opción</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay tratamiento.</th>



    </tr>

  </tbody>
</table>


                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}