
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Edición de Consultas Médicas</h4>

                            </div>
                        </div>





                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Editar Consulta Médica</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:editarconsulta' consulta.id_conultamedica %}" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="npa" name="npa" type="text" value="{{ consulta.id_paciente.id_persona.nombre }} {{ consulta.id_paciente.id_persona.apellido }}" >

                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200">{{ consulta.descripcion }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Nombre del Medico:</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" value="{{ medico.id_persona.nombre }} {{ medico.id_persona.apellido }}" id="nmed" name="nmed" readonly="readonly">
                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Consulta:</label>



                                                        <div class="col-lg-10">
                                    <input type="date" class="form-control" value="{{ consulta.fecha_consulta.isoformat }}" id="" name="fecha">

                                </div>


                                                </div>

                                                    <div class="form-group ">
                                                    <label for="diagnostico" class="control-label col-lg-2">Descripción del Diagnóstico</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="diagnostico" name="diagnostico" maxlength="200">{{ diagnostico.descripcion }}</textarea>
                                                        <input   class=" form-control" id="iddiagnostico" name="iddiagnostico" type="hidden" value="{{ diagnostico.id_diagnostico2 }}">
                                                    </div>

                                                </div>

                                                       <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Diagnóstico de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="catalogoDia" id="catalogoDia" >
                                                            {% for catalogoDias in catalogoDiag %}
                                                            <option value="{{ catalogoDias.codigo }}">{{ catalogoDias.codigo}} {{ catalogoDias.catalogo }}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                 <div class="form-group ">
                                                    <label for="signov" class="control-label col-lg-2"></label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly"  class=" form-control" id="signov" name="signov" type="hidden" value="{{ consulta.id_signovital2.id_signovital2 }}">
                                                        {% if confirm_message %}<p><strong><h3 class="label label-success">{{ confirm_message }}</h3></strong></p>{% endif %}
                                                    </div>
                                                </div>

                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}