
{% extends "app/base_template.html" %}
{% load static %}
{% static "" as baseUrl %}
{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Registro de Consultas Médicas</h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Paciente</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="{% url 'app:verconsulta' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="npaciente" name="npaciente" type="text" maxlength="25" >

                                                    </div>
                                                </div>

                                            <div class="form-group ">
                                                    <label for="nompaciente" class="control-label col-lg-2">Nombre del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="nompaciente" name="nompaciente" type="text" maxlength="50" >

                                                    </div>
                                                </div>

                                            <div class="form-group ">
                                                    <label for="apepaciente" class="control-label col-lg-2">Apellido del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="apepaciente" name="apepaciente" type="text" maxlength="50" ><br>
                                                        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                                    </div>
                                                </div>





                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


   <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Signos Vitales</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            {% if signovital and paciente %}
                                            <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="#" >
                                                {% csrf_token %}






                                                <div class="form-group ">
                                                    <label for="nombre" class="control-label col-lg-2">Nombre de Paciente  </label>

                                                    <div class="col-lg-10">
                                                        <input class=" form-control" id="nombre" name="nombre" type="text"  placeholder="{{ paciente.id_persona.nombre }} {{ paciente.id_persona.apellido }}">
                                                    </div>
                                                </div>
                                                {% for signovitals in signovital %}
                                                <div class="form-group ">
                                                    <label for="peso" class="control-label col-lg-2">Peso:</label>
                                                    <div class="col-lg-10">
                                                        <input class=" form-control" id="peso" name="peso" type="text" placeholder="{{ signovitals.peso }} Lbs">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="estatura" class="control-label col-lg-2">Estatura:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="estatura" name="estatura" type="text" placeholder="{{ signovitals.estatura }} mts">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="presion" class="control-label col-lg-2">Presión Arterial:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="presion" name="presion" type="text" placeholder="{{ signovitals.presion_arterial }}">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="ritmo" class="control-label col-lg-2">Ritmo Cardiaco:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="ritmo" name="ritmo" type="text" placeholder="{{ signovitals.ritmo_cardiaco }}">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="frecuencia" class="control-label col-lg-2">Frecuencia Respiratoria:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="frecuencia" name="frecuencia" type="text" placeholder="{{ signovitals.frecuencia_respiratoria }}">

                                                    </div>
                                                </div>
                                            {% endfor %}
                                                </form>
                                              {% else %}
                                                   <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="#" novalidate="novalidate">
                                                {% csrf_token %}

                                             <div class="form-group ">
                                                    <label for="nombre" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input class=" form-control" id="nombre" name="nombre" type="text" >
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="peso" class="control-label col-lg-2">Peso:</label>
                                                    <div class="col-lg-10">
                                                        <input class=" form-control" id="peso" name="peso" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="estatura" class="control-label col-lg-2">Estatura:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="estatura" name="estatura" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="presion" class="control-label col-lg-2">Presión Arterial:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="presion" name="presion" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="ritmo" class="control-label col-lg-2">Ritmo Cardiaco:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="ritmo" name="ritmo" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="frecuencia" class="control-label col-lg-2">Frecuencia Respiratoria:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " id="frecuencia" name="frecuencia" type="text">
                                                    </div>
                                                </div>


                                            </form>
                                            {% endif %}
                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Registrar Consulta</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                                {% if signovital and paciente and persona and catalogoDiag %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:guardarconsulta'  %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="npa" name="npa" type="text" value="{{ paciente.id_persona.nombre}} {{paciente.id_persona.apellido }}" >
                                                        <input type='hidden' name='personaid' id="personaid" value="{{ paciente.id_paciente }}">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200" required></textarea>
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Nombre del Medico:</label>
                                                    <div class="col-lg-10">
                                                         <input readonly="readonly" class=" form-control" id="" name="" type="text" placeholder="{{ persona.id_persona.nombre }} {{ persona.id_persona.apellido }}" >
                                                         <input class=" form-control" id="nmed" name="nmed" type="hidden" value="{{ persona.id_medico}}" >
                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Consulta:</label>

                                                        <div class="col-lg-10">
                                                          <input type="text" class="form-control" value="{{ fecha }}" id="fecha" name="fecha" readonly="readonly">
                                                        </div>
                                                </div>


                                                     <div class="form-group ">
                                                    <label for="diagnostico" class="control-label col-lg-2">Descripción del Diagnóstico:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="diagnostico" name="diagnostico" maxlength="200" required></textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Diagnóstico de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="catalogoDia" id="catalogoDia" >
                                                            {% for catalogoDias in catalogoDiag %}
                                                            <option value="{{ catalogoDias.codigo }}">{{ catalogoDias.codigo}} {{ catalogoDias.catalogo }}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                 <div class="form-group ">
                                                    <label for="signov" class="control-label col-lg-2"> </label>
                                                    <div class="col-lg-10">
                                                        {% for signos in signovital %}
                                                        <input readonly="readonly" class=" form-control" id="signov" name="signov" type="hidden" value="{{ signos.id_signovital2 }}">
                                                        {% endfor %}
                                                    </div>
                                                </div>



                                                        <div class="form-group">

                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                          <a data-toggle="collapse" href="#collapse1">Programar Cirugía</a>
                                                                       </h4>
                                                                   </div>
                                                                   <div id="collapse1" class="panel-collapse collapse">

                                                                        <div class="form-group ">
                                                                          <label for="nmed" class="control-label col-lg-2">Tipo de Cirugía:</label>
                                                                           <div class="col-lg-10">
                                                                             <select name="tcirugia" class="form-control" >
                                                                                 <option value='0'>Elija Tipo Cirugia</option>
                                                                                 {% for catalogos in catalogo %}

                                                                                 <option value="{{ catalogos.codigo }}">{{ catalogos.catalogo }}</option>
                                                                                 {% endfor %}
                                                                             </select>

                                                                           </div>
                                                                        </div>

                                                                        <div class="form-group ">
                                                                          <label for="fehcaC" class="control-label col-lg-2">Fecha de la Cirugía:</label>
                                                                           <div class="col-lg-10">
                                                                             <input  class=" form-control" id="" name="fechaC" type="date"  value="{{ fecha }}">
                                                                           </div>
                                                                        </div>


                                                                        <div class="form-group ">
                                                                          <label for="hora" class="control-label col-lg-2">Hora:</label>
                                                                           <div class="col-lg-10">
                                                                             <input  class=" form-control" id="" name="hora" type="time"  value="00:00">
                                                                           </div>
                                                                        </div>



                                                                   </div>
                                                               </div>
                                                           </div>
                                                        </div>






































                                                   {% if resultado %}
                                                        <div class="form-group">

                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse5">Resultados examen  </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse5" class="panel-collapse collapse">
                                                                        {% for resultados in resultado %}
                                                                           {% ifequal resultados.id_resultado ''%}
                                                                            {% else %}
                                                                               <button onclick="listar({{ resultados.id_resultado }})"
                                                                               class="btn btn-primary waves-effect waves-light">{{ resultados.id_examen.id_catalogo.catalogo }} <i
                                                                                class="fa fa-eye"></i></button>
                                                                            {% endifequal %}
                                                                        {% endfor %}
                                                                     </div>






                                                               </div>
                                                           </div>
                                                        </div>
                                                       {% else %}
                                                       {% endif %}




                                                   {% if examen %}

                                                        <div class="form-group">

                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse6">Adjuntos </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse6" class="panel-collapse collapse">
                                                                        {% for examenes in examen %}
                                                                           {% ifequal examenes.id_examen ''%}
                                                                            {% else %}

                                                                               <button onclick="listarAdjunto({{ examenes.id_examen }})"
                                                                               class="btn btn-primary waves-effect waves-light">{{ examenes.id_catalogo.catalogo }} <i
                                                                                class="fa fa-eye"></i></button>
                                                                            {% endifequal %}
                                                                        {% endfor %}
                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>

                                                       {% else %}
                                                       {% endif %}







                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>

                                            {% else %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:guardarconsulta'  %}" novalidate="novalidate">
                                                {% csrf_token %}


                                                     <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2" >Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input class=" form-control" id="npa" name="npa" type="text" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" readonly="readonly"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Nombre del Medico:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="nmed" id="nmed" readonly="readonly">

                                                            <option>Nombre Doctor</option>

                                                        </select>
                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="cemail" class="control-label col-lg-2">Fecha de la Consulta:</label>



                                                        <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="mm-dd-yyyy" id="fecha" name="fecha" readonly="readonly">

                                </div>

                                                </div>
                                                        <div class="form-group ">
                                                    <label for="diagnostico" class="control-label col-lg-2">Descripción del Diagnóstico :</label>
                                                    <div class="col-lg-10">
                                                        <textarea readonly="readonly" class="form-control" rows="3" id="diagnostico" name="diagnostico" maxlength="200"></textarea>
                                                    </div>
                                                </div>


                                                         <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Diagnóstico de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="catalogoDia" id="catalogoDia" >

                                                            <option >Codigo y Nombre del Diagnóstico</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                 <div class="form-group ">
                                                    <label for="signov" class="control-label col-lg-2"></label>
                                                    <div class="col-lg-10">
                                                        <input class=" form-control" id="signov" name="signov" type="hidden" readonly="readonly">
                                                    </div>
                                                </div>
                                                    </form>
                                            {% endif %}



                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>
















   <!-- Modal -->
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-book">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Fin modal -->





<script type="text/javascript">

   function listar(idExamen) {
            $.ajax({
                url: '/app/Examen/Resultado/view/?id_examen=' + idExamen,
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-book").modal("show");
                },
                success: function (data) {
                    $("#modal-book .modal-content").html(data.html_form);
                    $("#id_id_examen").val(idExamen)
                }
            });
        }


        function listarAdjunto(idExamen) {
            $.ajax({
                url: '/app/Examen/Archivos/view/?id_examen=' + idExamen,
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-book").modal("show");
                },
                success: function (data) {
                    $("#modal-book .modal-content").html(data.html_form);
                    $("#id_id_examen").val(idExamen)
                }
            });
        }
</script>

{% endblock %}