
{% extends "app/base_template.html" %}

{% block content %}
     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Detalle de Consultas Médicas</h4>

                            </div>
                        </div>
   <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Signos Vitales</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                            <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="#" novalidate="novalidate">
                                                {% csrf_token %}






                                                <div class="form-group ">
                                                    <label for="nombre" class="control-label col-lg-2">Nombre del Paciente</label>

                                                    <div class="col-lg-10">
                                                        <input class=" form-control"  type="text"  placeholder="{{ consulta.id_paciente.id_persona.nombre }} {{ consulta.id_paciente.id_persona.apellido }}" readonly="readonly">
                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label for="peso" class="control-label col-lg-2">Peso:</label>
                                                    <div class="col-lg-10">
                                                        <input class=" form-control"  type="text" placeholder="{{ consulta.id_signovital2.peso }}" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="estatura" class="control-label col-lg-2">Estatura:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control "  type="text" placeholder="{{ consulta.id_signovital2.estatura }}" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="presion" class="control-label col-lg-2">Presión Arterial:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control "  type="text" placeholder="{{ consulta.id_signovital2.presion_arterial }}" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="ritmo" class="control-label col-lg-2">Ritmo Cardiaco:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control "  type="text" placeholder="{{ consulta.id_signovital2.ritmo_cardiaco }}" readonly="readonly">
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="frecuencia" class="control-label col-lg-2">Frecuencia Respiratoria:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control " type="text" placeholder="{{ consulta.id_signovital2.frecuencia_respiratoria }}" readonly="readonly">
                                                    </div>
                                                </div>
                                                </form>

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Detalles de la Consulta</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" novalidate="novalidate">
                                                {% csrf_token %}

                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de la Consulta:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" readonly="readonly">{{ consulta.descripcion }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Nombre del Medico:</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" placeholder="{{ consulta.id_medico.id_persona.nombre }} {{ consulta.id_medico.id_persona.apellido }}" readonly="readonly">
                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de la Consulta:</label>



                                                        <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="{{ consulta.fecha_consulta }}"  readonly="readonly">

                                </div>


                                                </div>

                                                 <div class="form-group ">

                                                    <div class="col-lg-10">
                                                        <input  class=" form-control" id="signov" name="signov" type="hidden" value="{{ consulta.id_signovital2.id_signovital2 }}" readonly="readonly">
                                                    </div>
                                                </div>


                                                    </form>




                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->





                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Diagnósticos Emitidos en la Consulta</h3></div>
                                    <div class="panel-body">

                                        {% if diagnostico%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col" >Fecha de Diagnóstico</th>
                                          <th scope="col">Descripción de Diagnóstico</th>
                                            <th scope="col">Diagnóstico</th>
                                            <th scope="col">Código</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for diagnosticos in diagnostico %}
                                        <tr>


                                         <td >{{ diagnosticos.fecha_servicio}}</td>

                                         <td>{{  diagnosticos.descripcion}}</td>
                                        <td>{{  diagnosticos.id_catalogo.catalogo}}</td>
                                        <td>{{  diagnosticos.id_catalogo.codigo}}</td>

                                        </tr>
                                      {% endfor %}

                                   </tbody>
                          </table>
                                        {% else %}
                                            <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Fecha de Diagnóstico</th>
                                          <th scope="col">Descripción de Diagnóstico</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <td>No hay Datos </td>
                                         <td>No se Emitió un Diagnóstico</td>

                                        </tr>

                                      </tbody>
                          </table>

                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->




                     <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Tratamientos Emitidos en la Consulta Médica</h3></div>
                                    <div class="panel-body">

                                        {% if tratamiento%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th scope="col">Fecha de Tratamiento</th>
                                             <th scope="col">Nombre Tratamiento</th>
                                          <th scope="col">Descripción de Tratamiento</th>
                                          <th scope="col">Dosis</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for tratamientos in tratamiento %}
                                        <tr>
                                         <td>{{ tratamientos.fecha_servicio}}</td>
                                            <td>{{ tratamientos.id_catalogo.catalogo}}</td>
                                         <td>{{  tratamientos.descripcion}}</td>
                                         <td>{{  tratamientos.dosis}}</td>
                                        </tr>
                                      {% endfor %}

                                   </tbody>
                          </table>
                                        {% else %}
                                            <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Fecha de Tratamiento</th>
                                            <th scope="col">Nombre Tratamiento</th>
                                          <th scope="col">Descripción de Tratamiento</th>
                                            <th scope="col">Dosis</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <td>No hay Datos </td>
                                         <td>No se Emitió un Tratamiento</td>

                                        </tr>

                                      </tbody>
                          </table>

                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->


                    <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Registro de Cirugías Programadas</h3></div>
                                    <div class="panel-body">

                                        {% if cirugia%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th scope="col">Fecha Programada</th>
                                             <th scope="col">Nombre de la Cirugía</th>
                                          <th scope="col">Hora de Realización</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for cirugias in cirugia %}
                                        <tr>
                                         <td>{{ cirugias.fecha_programada}}</td>
                                            <td>{{ cirugias.id_catalogo.catalogo}}</td>
                                         <td>{{  cirugias.hora}}</td>

                                        </tr>
                                      {% endfor %}

                                   </tbody>
                          </table>
                                        {% else %}
                                            <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Fecha Programada</th>
                                            <th scope="col">Nombre de la Cirugía</th>
                                          <th scope="col">Hora de Realizacion</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <td>Fecha </td>
                                         <td>No se Emitió una Cirugía</td>
                                          <td>No se Emitió una Cirugía</td>
                                        </tr>

                                      </tbody>
                          </table>

                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->



                    <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Registro de Examenes Médicos</h3></div>
                                    <div class="panel-body">

                                        {% if examen%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                            <th scope="col">Fecha Programada</th>
                                             <th scope="col">Nombre del Examen</th>
                                          <th scope="col">Estado del Examen</th>
                                            <th scope="col">Estado de Revisión</th>
                                            <th scope="col">Fecha Realizado</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for examenes in examen %}
                                        <tr>
                                         <td>{{ examenes.fecha}}</td>
                                            <td>{{ examenes.id_catalogo.catalogo}}</td>
                                         <td>{% ifequal examenes.exa_realizado 's' %}
                                             Examen Hecho
                                             {% else %}
                                             Examen Pendiente
                                             {% endifequal %}
                                         </td>
                                        <td>{% ifequal examenes.exa_revisado 's' %}
                                             Examen Revisado
                                             {% else %}
                                             Examen Pendiente de Revisión
                                             {% endifequal %}
                                         </td>
                                        <td>{{ examenes.fecha_realizado}}</td>

                                        </tr>
                                      {% endfor %}

                                   </tbody>
                          </table>
                                        {% else %}
                                            <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Fecha Programada</th>
                                             <th scope="col">Nombre del Examen</th>
                                          <th scope="col">Estado del Examen</th>
                                            <th scope="col">Estado de Revisión</th>
                                            <th scope="col">Fecha Realizado</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <td>Fecha </td>
                                         <td>No se Emitió un Examen</td>
                                        </tr>

                                      </tbody>
                          </table>

                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->





            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}