{% extends "app/base_template.html" %}

{% block content %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="pull-left page-title">Registro de citas</h4>
                        <ol class="breadcrumb pull-right">
                            <li><a href="#">Moltran</a></li>
                            <li><a href="#">Tables</a></li>
                            <li class="active">Datatable</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">Criterios de búsqueda</h3></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">NO. Expediente</label>
                                        <div class="col-md-10">
                                            <input type="text" name="noExpediente" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Nombre</label>
                                        <div class="col-md-10">
                                            <input type="text" name="nombrePaciente" class="form-control"
                                                   PLACEHOLDER="Ingrese el nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Apellido</label>
                                        <div class="col-md-10">
                                            <input type="text" name="apellidoPaciente" class="form-control"
                                                   PLACEHOLDER="Ingrese apellido">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"></label>
                                        <div class="col-md-10">
                                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">
                                        Buscar
                                    </button>

                                </form>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->
                    </div> <!-- col -->
                </div> <!-- End row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Pacientes</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <table id="datatable" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Codigo paciente</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Fecha nacimiento</th>
                                                <th>Correo</th>
                                                <th>Acciones</th>
                                            </tr>
                                            </thead>


                                            <tbody>
                                            {% for paciente in personas %}
                                                <tr>
                                                    <td>{{ paciente.codigo_expediente }}</td>
                                                    <td>{{ paciente.id_persona.nombre }}</td>
                                                    <td>{{ paciente.id_persona.apellido }}</td>
                                                    <td>{{ paciente.id_persona.fecha_nacimiento }}</td>
                                                    <td>{{ paciente.id_persona.email }}</td>
                                                    <td>
                                                        <button onclick="agregar({{ paciente.id_paciente }})"
                                                                class="btn btn-primary waves-effect waves-light">Cita <i
                                                                class="fa fa-plus"></i></button>

                                                        <button onclick="listar({{ paciente.id_paciente }})"
                                                                class="btn btn-primary waves-effect waves-light">Ver <i
                                                                class="fa fa-eye"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- End Row -->
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-book">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- Fin modal -->

    <script type="text/javascript">
        function agregar(idPersona) {
            $.ajax({
                url: '/app/citas/create/',
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-book").modal("show");
                },
                success: function (data) {
                    $("#modal-book .modal-content").html(data.html_form);
                    $("#id_id_paciente").val(idPersona)
                }
            });


            //Agregando un escuchador del evento submit para poder mostrar mensajes de error o exito
            $("#modal-book").on("submit", ".js-book-create-form", function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#modal-book").modal("hide");
                        }
                        else {
                            $("#modal-book .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            });

        }

        function listar(idPersona) {
            $.ajax({
                url: '/app/citas/view/?id_paciente=' + idPersona,
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                    $("#modal-book").modal("show");
                },
                success: function (data) {
                    $("#modal-book .modal-content").html(data.html_form);
                    $("#id_id_paciente").val(idPersona)
                }
            });
        }


    </script>
{% endblock %}
