{% load widget_tweaks %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Citas del paciente</h4>
</div>
<div class="modal-body">
    <table  class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Tipo de consulta</th>
            <th>Médico</th>
        </tr>
        </thead>
        <tbody>
        {% for cita in citas %}
            <tr>
                <td>{{ cita.fecha }}</td>
                <td>{{ cita.codigo}}</td>
                <td>{{ cita.id_medico.id_persona }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
</div>
