{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Historial de Examenes</h4>

                            </div>
                        </div>
                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Resultados</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                                {% if resultado %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{ resultado.id_examen.id_paciente.id_persona.nombre}} {{resultado.id_examen.id_paciente.id_persona.apellido }}" >
                                                    </div>
                                                </div>


                                                    <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Examen Médico: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{resultado.id_examen.id_catalogo.catalogo}}" >

                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Nombre del Encargado:</label>
                                                    <div class="col-lg-10">
                                                       <input  class=" form-control"   type="text" value="{{resultado.encargado}} " readonly="readonly" >

                                                    </div>
                                                </div>
                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200" >{{ resultado.descripcion }}</textarea>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Resultado:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="resultado" name="resultado" maxlength="300" >{{ resultado.resultado }}</textarea>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Observación:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="observacion" name="observacion" maxlength="300" >{{ resultado.observacion }}</textarea>
                                                    </div>
                                                </div>

                                                    </form>
                                        {% else %}

                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{examen.id_paciente.id_persona.nombre}} {{examen.id_paciente.id_persona.apellido}}" >
                                                    </div>
                                                </div>


                                                    <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Examen Médico: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{examen.id_catalogo.catalogo}}" >

                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Nombre del Encargado:</label>
                                                    <div class="col-lg-10">
                                                       <input  class=" form-control"   type="text" value="{{message_error}} " readonly="readonly" >

                                                    </div>
                                                </div>
                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200" >{{ message_error }}</textarea>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Resultado:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="resultado" name="resultado" maxlength="300" >{{ message_error }}</textarea>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Observación:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="observacion" name="observacion" maxlength="300" >{{ message_error }}</textarea>
                                                    </div>
                                                </div>

                                                    </form>



                                        {% endif %}

                                              


                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}