{% extends "app/base_template.html" %}



{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Historial de Examenes Realizados </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Examenes Médicos</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form"  method="POST" action="{% url 'app:HistorialExamen' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="expaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  id="expaciente" name="expaciente" type="text" maxlength="25" >

                                                    </div>
                                                </div>

                                            <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Fecha de Entrega:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  id="fecha" name="fecha" type="date"  >
                                                    <br>
                                                         {% if error_message %}<p ><strong ><h3 class="label label-danger" >{{ error_message }}</h3></strong></p>{% endif %}
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Examenes Médicos</h3></div>
                                    <div class="panel-body">

                                        {% if examen%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Nombre Examen</th>
                                          <th scope="col">Fecha Consulta Médica</th>
                                            <th scope="col">Fecha Entrega:</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for examenes in examen %}
                                        <tr>
                                        <td >{{ examenes.id_paciente.id_persona.nombre}} {{ examenes.id_paciente.id_persona.apellido}}</td>
                                         <td>{{ examenes.id_catalogo.catalogo }}</td>
                                         <td>{{ examenes.fecha}} </td>
                                         <td>{{ examenes.fecha_realizado }}</td>
                                        <td><a href="{% url 'app:HistorialExamen' examenes.id_examen%}"><span class="label label-success">Ver Archivos</span></a></td>
                                        <td><a href="{% url 'app:ListarDatosExamen' examenes.id_examen%}"><span class="label label-success">Ver Resultado</span></a></td>
                                     </tr>
                                      {% endfor %}


  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Nombre Examen</th>
                                          <th scope="col">Fecha Consulta Médica</th>
                                            <th scope="col">Fecha Entrega:</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay registros</th>


                                        </tr>

                                       </tbody>
                                </table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}