
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">




                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Ingreso de Archivos Multimedia</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">



                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:subirArchivo'  examen.id_examen%}" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                        <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Nombre del Examen:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  type="text"  value="{{ examen.id_catalogo.catalogo }}" readonly="readonly">
                                                        <input  class="form-control"  id="idexa" name="idexa" type="hidden" value="{{ examen.id_examen }}" >
                                                    </div>
                                                </div>


                                                 <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Subir Imagen:</label>
                                                    <div class="col-lg-10">
                                                         {{ form.imagen }}
                                                    </div>
                                                </div>

                                                        <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Subir Video:</label>
                                                    <div class="col-lg-10">
                                                         {{ form.video }}
                                                    </div>
                                                </div>

                                                        <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Subir Audio:</label>
                                                    <div class="col-lg-10">
                                                         {{ form.audio }}
                                                    </div>
                                                </div>

                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>






                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}