{% extends "app/base_template.html" %}
{% load static %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title"> </h4>

                            </div>
                        </div>
                         {% ifequal examen ''%}
                         {% else %}

                                                       <div class="form-group">
                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse9">Video </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse9" class="panel-collapse collapse" >
                                                                        {% for adjuntos in examen %}
                                                                            {% ifequal adjuntos.video '' %}
                                                                                {% else %}


                                                                          <video id="video"  width="350" height="230" src="{% static  'media/'%}{{ adjuntos.video }}"  controls >
                                                                          </video>

                                                                            {% endifequal %}
                                                                            {% endfor %}

                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>




                                                       <div class="form-group">
                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse7">Imagen </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse7" class="panel-collapse collapse">
                                                                        {% for adjuntos in examen %}
                                                                            {% ifequal adjuntos.imagen '' %}
                                                                                {% else %}


                                                                         <img data-target="#miModal" data-toggle="modal" width="650" height="480" src="{% static 'media/'%}{{ adjuntos.imagen }}" alt="No Existen Registros">

                                                                            {% endifequal %}
                                                                            {% endfor %}

                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>




                                                       <div class="form-group">
                                                           <div class="panel-group">
                                                               <div class="panel panel-default">
                                                                   <div class="panel-heading">
                                                                       <h4 class="panel-title" align="center">
                                                                           <a data-toggle="collapse" href="#collapse8">Audio </a>
                                                                       </h4>
                                                                   </div>

                                                                    <div id="collapse8" class="panel-collapse collapse">
                                                                      {% for adjuntos in examen %}
                                                                          {% ifequal adjuntos.audio '' %}
                                                                              {% else %}

                                                                         <audio controls src="{% static 'media/'%}{{ adjuntos.audio }}"></audio>

                                                                          {% endifequal %}
                                                                          {% endfor %}

                                                                     </div>

                                                               </div>
                                                           </div>
                                                        </div>









                             <h2 class="label label-info">{{ message_error }}</h2>
                                                       {% endifequal %}



            </div> <!-- container -->

                </div> <!-- content -->



            </div>



{% endblock %}