
{% extends "app/base_template.html" %}

{% block content %}

     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Edición de Seguimiento de Cirugía</h4>

                            </div>
                        </div>

                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Editar Seguimiento</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:editarSeguimiento' id_segui.id_postoperacion2 %}" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Tipo Cirugía: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ id_segui.id_cirugia2.id_catalogo.catalogo }}" >

                                                     </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Seguimiento:</label>
                                                       <div class="col-lg-10">
                                                        <input type="date" class="form-control" value="{{ id_segui.fecha_servicio.isoformat }}" id="" name="fecha_servicio">

                                                        </div>
                                                    </div>

                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción de Seguimiento:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200">{{ id_segui.descripcion }}</textarea>
                                                    </div>
                                                </div>
                                                 <div class="form-group ">
                                                 <label for="nmed" class="control-label col-lg-2">Tipo de Seguimiento:</label>
                                                  <div class="col-lg-10">
                                                        <select name="periodo" class="form-control" >
                                                          <option value='0'>Elija Tipo de Seguimiento</option>
                                                           {% for catalogos in catalogo %}
                                                              <option value="{{ catalogos.id_catalogo }}">{{ catalogos.catalogo }}</option>
                                                           {% endfor %}
                                                        </select>
                                                      </div>
                                                </div>
                                                <div class="form-group ">
                                                        <div class="col-lg-10">
                                                        {% if confirm_message %}<p><strong><h3 class="label label-success">{{ confirm_message }}</h3></strong></p>{% endif %}
                                                    </div>
                                                </div>




                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Actualizar</button>

                                                    </div>
                                                </div>
                                                    </form>





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}