{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Búsqueda de Seguimiento de Cirugías </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Cirugías</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="{% url 'app:listarSeguimientosCirugias' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="epaciente" name="epaciente" type="text" required >

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos de las Cirugías</h3></div>
                                    <div class="panel-body">

                                        {% if cirugia%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Id de Cirugía</th>
                                          <th scope="col">Tipo de Cirugía</th>
                                           <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for cirugias in cirugia %}
                                        <tr>
                                        <td>{{  cirugias.id_cirugia2}}</td>
                                        <th scope="row">{{  cirugias.id_catalogo.catalogo }}</th>

                                         <td>
                                                        <a href="{% url 'app:listadoseguimiento' cirugias.id_cirugia2 %}" ><span class="label label-success">Lista Seguimientos</span></a>
                                         </td>
    </tr>
                                      {% endfor %}

  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Id de Cirugía</th>
                                          <th scope="col">Tipo de Cirugía</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">Id Cirugía</th>
                                         <td>Tipo Cirugía</td>


    </tr>

  </tbody>
</table>


                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}