
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Seguimiento de Cirugía </h4>

                            </div>
                        </div>

                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Seguimiento de Cirugía</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                               {% if tipo_cirugia and catalogoCirugia %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:guardarSeguimiento' %}" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre de la Cirugía: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ tipo_cirugia.id_catalogo.catalogo }}" >
                                                        <input class=" form-control" id="" name="id_tipo_cirugia" type="hidden" value="{{ tipo_cirugia.id_cirugia2 }}" >
                                                     </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción del Seguimiento:</label>
                                                    <div class="col-lg-10">
                                                        <textarea  class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de servicio:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="" id="" name="fechaserv">
                                                       </div>
                                                </div>
                                                 <div class="form-group ">
                                                                          <label for="nmed" class="control-label col-lg-2">Tipo de Seguimiento:</label>
                                                                           <div class="col-lg-10">
                                                                             <select name="tipoSeg" class="form-control" >
                                                                                 <option value='0'>Elija Tipo de Seguimiento</option>
                                                                                 {% for catalogo in catalogoCirugia %}

                                                                                 <option value="{{ catalogo.id_catalogo }}">{{ catalogo.catalogo }}</option>
                                                                                 {% endfor %}
                                                                             </select>

                                                                           </div>
                                                                        </div>
                                                    <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Agregar</button>

                                                    </div>
                                                </div>
                                                    </form>
                                            {% else %}

                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" novalidate="novalidate">
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre de la Cirugía: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ tipo_cirugia.id_catalogo.catalogo }}" >
                                                        <input class=" form-control" id="" name="id_tipo_cirugia" type="hidden" value="{{ tipo_cirugia.id_cirugia2 }}" >
                                                     </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Descripción del Seguimiento:</label>
                                                    <div class="col-lg-10">
                                                        <textarea  class="form-control" rows="3" id="descripcion" name="descripcion" maxlength="200"> </textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de servicio:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="" id="" name="fecha">
                                                       </div>
                                                </div>
                                                 <div class="form-group ">
                                                                          <label for="nmed" class="control-label col-lg-2">Tipo de Seguimiento:</label>
                                                                           <div class="col-lg-10">
                                                                             <select name="tcirugia" class="form-control" >
                                                                                 <option value='0'>Elija Tipo de Seguimiento</option>
                                                                                 {% for catalogo in catalogoCirugia %}

                                                                                 <option value="{{ catalogo.id_tipo_catalogo }}">{{ catalogo.catalogo }}</option>
                                                                                 {% endfor %}
                                                                             </select>

                                                                           </div>
                                                                        </div>


                                                    </form>
                                            {% endif %}





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}