
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Alta Medica</h4>

                            </div>
                        </div>
                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Alta Medica</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:AltaMedica' ingreso.id_ingresohospitalario2 %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{ ingreso.id_paciente.id_persona.nombre}} {{ingreso.id_paciente.id_persona.apellido }}" >
                                                        <input type="hidden" value="{{ ingreso.id_paciente.id_paciente }}" name="hpaciente">
                                                    </div>
                                                </div>

                                                         <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Alta Médica:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control"  id="fecha" name="fecha" required>
                                                        </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="tipoAlta" class="control-label col-lg-2">Tipo de Alta Médica:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="tipoAlta" id="tipoAlta" required>
                                                            <option value="">Elija el Tipo de Alta  Médica</option>
                                                        <option value="Voluntaria">Voluntaria</option>
                                                            <option value="Por Mejoria">Por Mejoria</option>
                                                            <option value="Por Curacion">Por Curación</option>
                                                            <option value="Por transferencia">Por Transferecia</option>
                                                            <option value="Por Fuga">Por Fuga</option>
                                                            <option value="Por Defuncion">Por Defunción</option>

                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Condición del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="condicion" name="condicion" maxlength="200" required></textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Cuidados Post Alta Médica:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="cuidados" name="cuidados" maxlength="200" required></textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}