
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Resumen del Ingreso Hospitalario</h4>

                            </div>
                        </div>

                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Resumen</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                               {% ifequal ingreso.activo 's' %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" type="text" value="{{ ingreso.id_paciente.id_persona.nombre}} {{ingreso.id_paciente.id_persona.apellido }}" >

                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Tipo de Ingreso Hospitalario:</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control"  value="{{ ingreso.id_catalogo.catalogo }}" readonly="readonly">
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Salon de Ubicación:</label>
                                                    <div class="col-lg-10">
                                                       <input type="text" class="form-control"   readonly="readonly" value="{{ ingreso.cat_codigo.catalogo }}">
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Ingreso:</label>

                                                        <div class="col-lg-10">
                                                          <input type="text" class="form-control"  readonly="readonly" value="{{ ingreso.fecha_ingreso.isoformat }}">
                                                        </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Numero de Cuarto:</label>
                                                    <div class="col-lg-10">
                                                         <input readonly="readonly" class=" form-control"  type="text" value="{{ ingreso.numcuarto }} " >
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Numero de Camilla:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" type="text" value="{{ ingreso.numcamilla}}" readonly="readonly">
                                                    </div>
                                                </div>


                                                   <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Medico Encargado:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" type="text" value="{{ ingreso.id_medico.id_persona.nombre}} {{ ingreso.id_medico.id_persona.apellido }}" readonly="readonly">
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Medicamentos Recetados Actualmente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3"  maxlength="200" readonly="readonly">{{ ingreso.medicamentos }}</textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Alergias del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" maxlength="200" readonly="readonly">{{ ingreso.alergias }}</textarea>
                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="reanimacion" class="control-label col-lg-2">En Caso de Reanimación:</label>
                                                    <div class="col-lg-10">
                                                     <input class=" form-control" type="text" value="{{ ingreso.reanimacion}}" readonly="readonly">
                                                    </div>
                                                </div>

                                                    </form>
                                            {% else %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" type="text" value="{{ ingreso.id_paciente.id_persona.nombre}} {{ingreso.id_paciente.id_persona.apellido }}" >

                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Tipo de Ingreso Hospitalario:</label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control"  value="{{ ingreso.id_catalogo.catalogo }}" readonly="readonly">
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Salon de Ubicación:</label>
                                                    <div class="col-lg-10">
                                                       <input type="text" class="form-control"   readonly="readonly" value="{{ ingreso.cat_codigo.catalogo }}">
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Ingreso:</label>

                                                        <div class="col-lg-10">
                                                          <input type="text" class="form-control"  readonly="readonly" value="{{ ingreso.fecha_ingreso.isoformat }}">
                                                        </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Numero de Cuarto:</label>
                                                    <div class="col-lg-10">
                                                         <input readonly="readonly" class=" form-control"  type="text" value="{{ ingreso.numcuarto }} " >
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Numero de Camilla:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" type="text" value="{{ ingreso.numcamilla}}" readonly="readonly">
                                                    </div>
                                                </div>


                                                   <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Medico Encargado:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" type="text" value="{{ ingreso.id_medico.id_persona.nombre}} {{ ingreso.id_medico.id_persona.apellido }}" readonly="readonly">
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Medicamentos Recetados Actualmente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3"  maxlength="200" readonly="readonly">{{ ingreso.medicamentos }}</textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Alergias del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" maxlength="200" readonly="readonly">{{ ingreso.alergias }}</textarea>
                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="reanimacion" class="control-label col-lg-2">En Caso de Reanimación:</label>
                                                    <div class="col-lg-10">
                                                     <input class=" form-control" type="text" value="{{ ingreso.reanimacion}}" readonly="readonly">
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Tipo de Alta Médica:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" type="text" value="{{ ingreso.tipo_alta}} " readonly="readonly">
                                                    </div>
                                                </div>
                                                    <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Fecha de Alta Médica:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" type="text" value="{{ ingreso.fecha_salida}} " readonly="readonly">
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Condición del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" maxlength="200" readonly="readonly">{{ ingreso.condicion_salida }}</textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Cuidados Post Alta Médica:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" maxlength="200" readonly="readonly">{{ ingreso.cuidados }}</textarea>
                                                    </div>
                                                </div>

                                                    </form>
                                            {% endifequal %}


                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}