
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Editar Servicio Hospitalario</h4>

                            </div>
                        </div>
                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Servicio Hospitalario</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:editarServicioHospitalario' servicio.id_servicio_hospitalario %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{servicio.id_ingresohospitalario2.id_paciente.id_persona.nombre}} {{servicio.id_ingresohospitalario2.id_paciente.id_persona.apellido }}" >

                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="servicioh" class="control-label col-lg-2">Servicio Hospitalario:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="servicioh" id="servicioh" >
                                                        <option value="{{ servicio.id_catalogo.id_catalogo }}">{{ servicio.id_catalogo.catalogo }}</option>
                                                            {% for catalogos in catalogo %}
                                                            <option value="{{ catalogos.id_catalogo }}">{{ catalogos.catalogo }}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="responsable" class="control-label col-lg-2">Responsable:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="responsable" id="responsable" >
                                                            <option value="{{ servicio.id_medico.id_medico }}">{{servicio.id_medico.id_persona.nombre}} {{servicio.id_medico.id_persona.apellido}}</option>
                                                            {% for responsables in responsable %}
                                                            <option value="{{ responsables.id_medico }}">{{responsables.id_persona.nombre}} {{responsables.id_persona.apellido}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Inicio:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control"  id="fecha" name="fecha" value="{{ servicio.fecha_inicio.isoformat }}">
                                                        </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="dosis" class="control-label col-lg-2">Dosis:</label>
                                                    <div class="col-lg-10">
                                                          <textarea class="form-control" rows="3" id="dosis" name="dosis" maxlength="100" >{{ servicio.dosis }}</textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="duracion" class="control-label col-lg-2">Duración:</label>
                                                    <div class="col-lg-10">
                                                          <textarea class="form-control" rows="3" id="duracion" name="duracion" maxlength="100" >{{ servicio.duracion }}</textarea>
                                                    </div>
                                                </div>



                                                    {% if confirm_message %}<p><strong><h3 class="label label-success">{{ confirm_message }}</h3></strong></p>{% endif %}

                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}>