
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Editar Ingreso Hospitalario</h4>

                            </div>
                        </div>
                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Editar Ingreso Hospitalario</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:EditarIngresoHospitalario' ingreso.id_ingresohospitalario2 %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control"  type="text" value="{{ ingreso.id_paciente.id_persona.nombre}} {{ingreso.id_paciente.id_persona.apellido }}" >
                                                        <input type="hidden" value="{{ ingreso.id_paciente.id_paciente }}" name="hpaciente">
                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Tipo de Ingreso Hospitalario:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="ingreso" id="ingreso" required>
                                                        <option value="{{ ingreso.id_catalogo.id_catalogo }}">{{ ingreso.id_catalogo.catalogo }}</option>
                                                            {% for catalogoIngre in catalogoIngreso %}
                                                            <option value="{{ catalogoIngre.id_catalogo }}">{{ catalogoIngre.catalogo }}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Salon de Ubicación:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="salon" id="salon" required>
                                                            <option value="{{ ingreso.cat_codigo.id_catalogo }}">{{ ingreso.cat_codigo.catalogo }}</option>
                                                            {% for catalogoSa in catalogoSala %}
                                                            <option value="{{ catalogoSa.id_catalogo }}">{{ catalogoSa.catalogo}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Ingreso:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control"  id="fecha" name="fecha" value="{{ ingreso.fecha_ingreso.isoformat }}">
                                                        </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Número de Cuarto:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" id="numcuarto" name="numcuarto" type="number" value="{{ ingreso.numcuarto}}" >
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Número de Camilla:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" id="numcamilla" name="numcamilla" type="number" value="{{ ingreso.numcamilla}}" >
                                                    </div>
                                                </div>


                                                   <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Medico Encargado:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="medico"  >
                                                            <option value="{{ ingreso.id_medico.id_medico }}">{{ ingreso.id_medico.id_persona.nombre}} {{ ingreso.id_medico.id_persona.apellido}}</option>
                                                            {% for medicos in medico %}
                                                            <option value="{{ medicos.id_medico }}">{{ medicos.id_persona.nombre}} {{ medicos.id_persona.apellido}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Medicamentos Recetados Actualmente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="medicamento" name="medicamento" maxlength="200" >{{ ingreso.medicamentos }}</textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Alergias del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="alergias" name="alergias" maxlength="200" >{{ ingreso.alergias }}</textarea>
                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="reanimacion" class="control-label col-lg-2">En Caso de Reanimación:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="reanimacion" id="reanimacion" >
                                                            <option value="{{ ingreso.reanimacion }}">{{ ingreso.reanimacion }}</option>
                                                            <option value="Intentar Reanimacion">Intentar Reanimación</option>
                                                            <option value="no Intentar Reanimacion">No Realizar Intento de Reanimación</option>

                                                        </select>
                                                    </div>
                                                          {% if confirm_message %}<p><strong><h3 class="label label-success">{{ confirm_message }}</h3></strong></p>{% endif %}
                                                </div>

                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>





                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}