{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Busqueda de Ingresos Hospitalarios </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Ingreso Hospitalario</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form"  method="POST" action="{% url 'app:listarIngresoHospitalario' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  id="hpaciente" name="hpaciente" type="text" maxlength="25">
                                                    </div>
                                                </div>
                                             <div class="form-group ">
                                                    <label for="hfecha" class="control-label col-lg-2">Fecha del Ingreso Hospitalario:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control" value="dd-mm-aaaa"  name="hfecha" >

                                                        </div>
                                                </div>


                                            <div class="form-group ">
                                                <label for="alta" class="control-label col-lg-2">Ingresos Dados de Alta:</label>
                                                  <div class="col-lg-3">
                                                     <select name="alta" class="form-control" >
                                                          <option value=''>Selecciones Una Opción</option>
                                                                 <option value="s">Activo</option>
                                                                 <option value="n">Dado de Alta</option>

                                                      </select>
                                                  <br>
                                                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                                                  </div>
                                            </div>





                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos del Ingreso Hospitalario</h3></div>
                                    <div class="panel-body">

                                        {% if ingreso%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha de Ingreso Hopitalario</th>
                                          <th scope="col">Doctor Encargado</th>
                                            <th scope="col">Tipo de ingreso</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for ingresos in ingreso %}
                                        <tr>
                                         <th scope="row">{{ ingresos.id_paciente.id_persona.nombre}} {{ ingresos.id_paciente.id_persona.apellido}}</th>
                                         <td>{{ ingresos.fecha_ingreso}}</td>
                                         <td>{{ ingresos.id_medico.id_persona.nombre}} {{ ingresos.id_medico.id_persona.apellido}}</td>
                                            <td>{{ ingresos.id_catalogo.catalogo}}</td>
                                         <td>
                                                      {% ifequal ingresos.activo 's'%}
                                                        <a href="{% url 'app:detalleIngresoHospitalario' ingresos.id_ingresohospitalario2 %}" ><span class="label label-success">ver</span></a>
                                                        <a href="{% url 'app:EditarIngresoHospitalario' ingresos.id_ingresohospitalario2%}"><span class="label label-warning">Editar</span></a>
                                                        <a href="{% url 'app:AltaMedica' ingresos.id_ingresohospitalario2 %}" onclick="return confirm('¿Desea Dar de Alta al Pacietne?')"><span class="label label-danger">Alta Médica</span></a>
                                                      {% else %}
                                                          <a href="{% url 'app:detalleIngresoHospitalario' ingresos.id_ingresohospitalario2 %}" ><span class="label label-success">ver</span></a>
                                                      {% endifequal %}


                                         </td>
    </tr>
                                      {% endfor %}

  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha de Ingreso Hopitalario</th>
                                          <th scope="col">Doctor Encargado</th>
                                            <th scope="col">Tipo de ingreso</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay registros</th>


                                        </tr>

                                       </tbody>
                                </table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}