
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Ingreso Hospitalario</h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Paciente</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form" id="commentForm" method="post" action="{% url 'app:ingresoHospitalario' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control" id="npaciente" name="npaciente" type="text" maxlength="25" >

                                                    </div>
                                                </div>

                                            <div class="form-group ">
                                                    <label for="nompaciente" class="control-label col-lg-2">Nombre del Paciente:</label>
                                                    <div class="col-lg-4">
                                                        <input  class="form-control" id="nompaciente" name="nompaciente" type="text" maxlength="50" placeholder="Nombre">
                                                    </div>
                                                 <div class="col-lg-4">
                                                        <input  class="form-control" id="apepaciente" name="apepaciente" type="text" maxlength="50" placeholder="Apellidos">
                                                    </div>

                                                </div>
                                                 <br>
                                                {% if error_message %}<p ><strong ><h3 class="label label-danger" >{{ error_message }}</h3></strong></p>{% endif %}
                                            <br>






                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->




                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Ingreso Hospitalario</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">

                                                {% if paciente and catalogoIngreso and catalogoSala and medico %}
                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:guardarIngresoHospitalario'  %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente: </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="npa" name="npa" type="text" value="{{ paciente.id_persona.nombre}} {{paciente.id_persona.apellido }}" >
                                                        <input type='hidden' name='pacienteid' id="pacienteid" value="{{ paciente.id_paciente }}">
                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Tipo de Ingreso Hospitalario:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="ingreso" id="ingreso" required>
                                                        <option value="">seleccione un Tipo de Ingreso</option>
                                                            {% for catalogoIngre in catalogoIngreso %}
                                                            <option value="{{ catalogoIngre.id_catalogo }}">{{ catalogoIngre.catalogo }}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Salon de Ubicación:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="salon" id="salon" required>
                                                            <option value="">seleccione el Salon</option>
                                                            {% for catalogoSa in catalogoSala %}
                                                            <option value="{{ catalogoSa.id_catalogo }}">{{ catalogoSa.catalogo}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha de Ingreso:</label>

                                                        <div class="col-lg-10">
                                                          <input type="date" class="form-control"  id="fecha" name="fecha" required>
                                                        </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Número de Cuarto:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" id="numcuarto" name="numcuarto" type="number" value="{{ persona.id_medico}}" >
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="nmed" class="control-label col-lg-2">Número de Camilla:</label>
                                                    <div class="col-lg-10">
                                                         <input class=" form-control" id="numcamilla" name="numcamilla" type="number" value="{{ persona.id_medico}}" >
                                                    </div>
                                                </div>


                                                   <div class="form-group ">
                                                    <label for="catalogoDia" class="control-label col-lg-2">Medico Encargado:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="medico"  required>
                                                        <option value="">seleccione un Medico</option>
                                                            {% for medicos in medico %}

                                                            <option value="{{ medicos.id_medico }}">{{ medicos.id_persona.nombre}} {{ medicos.id_persona.apellido}}</option>
                                                             {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="descripcion" class="control-label col-lg-2">Medicamentos Recetados Actualmente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="medicamento" name="medicamento" maxlength="200" required></textarea>
                                                    </div>
                                                </div>

                                                     <div class="form-group ">
                                                    <label for="alergias" class="control-label col-lg-2">Alergias del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="3" id="alergias" name="alergias" maxlength="200" required></textarea>
                                                    </div>
                                                </div>

                                                      <div class="form-group ">
                                                    <label for="reanimacion" class="control-label col-lg-2">En Caso de Reanimación:</label>
                                                    <div class="col-lg-10">
                                                        <select class="form-control" name="reanimacion" id="reanimacion" >
                                                            <option value="">seleccione una Opción</option>
                                                            <option value="Intentar Reanimacion">Intentar Reanimación</option>
                                                            <option value="no Intentar Reanimacion">No Realizar Intento de Reanimación</option>

                                                        </select>
                                                    </div>
                                                </div>







                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>

                                            {% else %}

                                            {% endif %}



                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->

                </div>







{% endblock %}