{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Listar Servicios Hospitalarios </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Servicios Hospitalario</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form"  method="POST" action="{% url 'app:listarServicioHospitalario' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="hpaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  id="hpaciente" name="hpaciente" type="text" maxlength="25" required>
                                                    <br>
                                                         {% if error_message %}<p ><strong ><h3 class="label label-danger" >{{ error_message }}</h3></strong></p>{% endif %}
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos del Ingreso Hospitalario</h3></div>
                                    <div class="panel-body">

                                        {% if servicio%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Responsable</th>
                                          <th scope="col">Servicio Hospitalario</th>
                                            <th scope="col">Fecha Inicio</th>
                                            <th scope="col">Duracion</th>
                                            <th scope="col">Dosis</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for servicios in servicio %}
                                        <tr>
                                        <th scope="row">{{ servicios.id_ingresohospitalario2.id_paciente.id_persona.nombre}} {{ servicios.id_ingresohospitalario2.id_paciente.id_persona.apellido}}</th>
                                         <td>{{ servicios.id_persona.nombre}} {{ servicios.id_persona.apellido}}</td>
                                         <td>{{ servicios.id_catalogo.catalogo}} </td>
                                            <td>{{ servicios.fecha_inicio}}</td>
                                        <td>{{ servicios.duracion}}</td>
                                        <td>{{ servicios.dosis}}</td>

                                         <td>

                                                        <a href="{% url 'app:bitacoraIndex' servicios.id_servicio_hospitalario%}"><span class="label label-primary">Registro diario</span></a>
                                                        <a href="{% url 'app:editarServicioHospitalario' servicios.id_servicio_hospitalario%}"><span class="label label-warning">Editar</span></a>
                                                        <a href="{% url 'app:eliminarServicioHospitalario' servicios.id_servicio_hospitalario%}" onclick="return confirm('¿Desea Eliminar el Servicio Hospitalario?')"><span class="label label-danger">Eliminar</span></a>




                                         </td>
                                     </tr>
                                      {% endfor %}


  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Responsable</th>
                                          <th scope="col">Servicio Hospitalario</th>
                                            <th scope="col">Fecha Inicio</th>
                                            <th scope="col">Duracion</th>
                                            <th scope="col">Dosis</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay registros</th>


                                        </tr>

                                       </tbody>
                                </table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}