
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="images/favicon_1.ico">

        <title>Moltran - Responsive Admin Dashboard Template</title>

        <!-- Base Css Files -->
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Font Icons -->
        <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/ionicon/css/ionicons.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/material-design-iconic-font.min.css' %}" rel="stylesheet">

        <!-- animate css -->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" />

        <!-- Waves-effect -->
        <link href="{% static 'css/waves-effect.css' %}" rel="stylesheet" />

        <!-- sweet alerts -->
        <link href="{% static 'assets/sweet-alert/sweet-alert.min.css' %}" rel="stylesheet">

        <!-- Custom Files -->
        <link href="{% static '/css/helper.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'js/modernizr.min.js' %}"></script>

    </head>
    <body>

        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
                <div class="panel-heading bg-img">
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> Reiniciar contraseña</h3>
                </div>


                <div class="panel-body">
                    {% if validlink %}
                        {{ form.non_field_errors }}
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if form.new_password2.errors %}
                            {% for error in form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" class="form-horizontal m-t-20" action="" >
                            {% csrf_token %}
                            <div style="display:none">
                                     <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input  name="new_password1" class="form-control input-lg" type="password" id="id_new_password1" required="" placeholder="Contraseña">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input autocomplete="new-password" name="new_password2"  id="id_new_password2" class="form-control input-lg" type="password" required="" placeholder="Confirmar contraseña">
                                </div>
                            </div>

                            <div class="form-group text-center m-t-40">
                                <div class="col-xs-12">
                                    <button class="btn btn-primary btn-lg w-lg waves-effect waves-light" type="submit">Reiniciar</button>
                                </div>
                            </div>
                        </form>
                        {% else %}
                            <p>El enlace proporcionando ya no es válido</p>
                            <p>Por favor intente   <a href="{% url 'password_reset' %}"><i class="fa fa-lock m-r-5"></i> solicitar un nuevo enlace</a></p>
                        {% endif %}
                </div>

            </div>
        </div>


    	<script>
            var resizefunc = [];
        </script>
        <!-- jQuery  -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <script src="{% static 'js/waves.js'%}"></script>
        <script src="{% static 'js/wow.min.js'%}"></script>
        <script src="{% static 'js/jquery.nicescroll.js'%}" type="text/javascript"></script>
        <script src="{% static 'js/jquery.scrollTo.min.js'%}"></script>
        <script src="{% static 'assets/chat/moment-2.2.1.js'%}"></script>
        <script src="{% static 'assets/jquery-sparkline/jquery.sparkline.min.js'%}"></script>
        <script src="{% static 'assets/jquery-detectmobile/detect.js'%}"></script>
        <script src="{% static 'assets/fastclick/fastclick.js'%}"></script>
        <script src="{% static 'assets/jquery-slimscroll/jquery.slimscroll.js'%}"></script>
        <script src="{% static 'assets/jquery-blockui/jquery.blockUI.js'%}"></script>


        <!-- CUSTOM JS -->
        <script src="js/jquery.app.js"></script>

	</body>
</html>