{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="images/favicon_1.ico">

        <title>Moltran - Responsive Admin Dashboard Template</title>

        <!-- Base Css Files -->
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- Font Icons -->
        <link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/ionicon/css/ionicons.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/material-design-iconic-font.min.css' %}" rel="stylesheet">

 <!-- animate css -->
        <link href="{% static 'css/animate.css' %}" rel="stylesheet" />

        <!-- Waves-effect -->
        <link href="{% static 'css/waves-effect.css' %}" rel="stylesheet" />

        <!-- sweet alerts -->
        <link href="{% static 'assets/sweet-alert/sweet-alert.min.css' %}" rel="stylesheet">

        <!-- Custom Files -->
        <link href="{% static '/css/helper.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

       <script src="{% static 'js/modernizr.min.js' %}"></script>
        
    </head>
    <body>


        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">

                <div class="panel-heading bg-img"> 
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> Reiniciar contraseña </h3>
                </div> 

                <div class="panel-body">
                 <form method="post" action="" role="form" class="text-center">
                     {% csrf_token %}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        Introduce tu <b>Email</b> y se te enviarán las instrucciones para restaurar tu contraseña
                    </div>
                    <div class="form-group m-b-0"> 
                        <div class="input-group"> 
                            <input type="email" id="id_email" name="email" class="form-control input-lg" placeholder="Introduce tu email" required="">
                            <span class="input-group-btn"> <button type="submit" class="btn btn-lg btn-primary waves-effect waves-light">Enviar</button> </span>
                        </div> 
                    </div> 
                    
                </form>

                </div>                                 
                
            </div>
        </div>

        
    	<script>
            var resizefunc = [];
        </script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/waves.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
        <script src="js/jquery.scrollTo.min.js"></script>
        <script src="assets/jquery-detectmobile/detect.js"></script>
        <script src="assets/fastclick/fastclick.js"></script>
        <script src="assets/jquery-slimscroll/jquery.slimscroll.js"></script>
        <script src="assets/jquery-blockui/jquery.blockUI.js"></script>


        <!-- CUSTOM JS -->
        <script src="js/jquery.app.js"></script>
	
	</body>
</html>