{% extends "app/base_template.html" %}

{% block content %}
<div class="content-page">
            <div class="content">
                    <div class="container">
        <h3>Agregar paciente</h3>
        <form action="{% url 'app:pancienteSave' %}" method="post">
        {% csrf_token %}
          <input id="flag" type="number" name="flag" style="display: none;" value="0">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           Datos personales
                        </h4>
                    </div>
            <div id="collap1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                   <div class="col-sm-4 form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" id="apellido" name="apellido" required>
                     </div>
                     <div class="col-sm-4 form-group">
                        <label>Apellido de casada</label>
                        <input class="form-control" type="text" id="apellidoC" name="apellidoC">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="number" id="telefono" name="telefono" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Fecha Nacimiento</label>
                        <input class="form-control" type="date" id="fechaN" name="fechaN" onchange="edad(this.value)" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" id="direccion" name="direccion" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Genero</label>
                        <div class="radio">
                            <input type="radio" value="M" id="M" name="genero">
                            <label for="M">Masculino</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="F" id="F" name="genero">
                            <label for="F">Femenino</label>
                        </div>
                    </div>

                </div>


              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">

                Datos del responsable
              </h4>
            </div>

                <div class="panel-body">
                    <div class="row">
                   <div class="col-sm-4 form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" id="nombreR" name="nombreR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" id="apellidoR" name="apellidoR" required>
                     </div>
                     <div class="col-sm-4 form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="number" id="telefonoR" name="telefonoR" required>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4 form-group">
                        <label>Fecha Nacimiento</label>
                        <input class="form-control" type="date" id="fechaNR" name="fechaNR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" id="emailR" name="emailR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Genero</label>
                        <div class="radio">
                            <input type="radio" value="M" id="MR" name="generoR" required>
                            <label for="MR">Masculino</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="F" id="FR" name="generoR" required>
                            <label for="FR">Femenino</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" id="direccionR" name="direccionR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <div class="form-group">
                          <label for="sel1">Parentesco</label>
                          <select class="form-control" id="sel1" name="sel1" required>
                            <option value="">- Seleccione -</option>
                            <option value="Padre">Padre</option>
                            <option value="Madre">Madre</option>
                              <option value="Hermano">Hermano</option>
                              <option value="Hermana">Hermana</option>
                            <option value="Conyugue">Conyugue</option>
                            <option value="Otro">Otro</option>
                          </select>

                        </div>
                    </div>

                </div>
                </div>

          </div>
          <div id="panelHistorial" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">

                Historial medico
              </h4>
            </div>
                <div class="panel-body">
                    Enfermedades

                                <div class="form-group">
                                    <div class="row">
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                      <input id="en1"  name="en1" type="checkbox" value="True">
                                      <label for="en1">Diabetes</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en2" name="en2" type="checkbox" value="True">
                                        <label for="en2">Esquizofrenia</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en3"  name="en3" type="checkbox" value="True">
                                      <label for="en3">Bronquitis</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en4" name="en4" type="checkbox" value="True">
                                        <label for="en4">Asma</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en5" name="en5" type="checkbox" value="True">
                                        <label for="en5">Hepatatis</label>
                                    </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                      <input id="en6"  name="en6" type="checkbox" value="True">
                                      <label for="en6">Varicela</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en7" name="en7" type="checkbox" value="True">
                                        <label for="en7">Viruela</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en8"  name="en8" type="checkbox" value="True">
                                      <label for="en8">Sarampion</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en9" name="en9" type="checkbox" value="True">
                                        <label for="en9">Paludismo</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en10" name="en10" type="checkbox" value="True">
                                        <label for="en10">Leucemia</label>
                                    </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                      <input id="en11"  name="en11" type="checkbox" value="True">
                                      <label for="en11">Anemia</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en12" name="en12" type="checkbox" value="True">
                                        <label for="en12">Transtorno alimenticio</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en13"  name="en13" type="checkbox" value="True">
                                      <label for="en13">Transtorno del sistema nervioso</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en14" name="en14" type="checkbox" value="True">
                                        <label for="en14">Infartos</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en15" name="en15" type="checkbox" value="True">
                                        <label for="en15">Embolia</label>
                                    </div>
                                    </div>

                                </div>
                                </div>

            </div>
          </div>



                    <div class="row">
                        <div class="col-sm-9"></div>

                        <div class="col-sm-3 form-group">
                        <input class="btn btn-primary" type="submit" name="" value="Guardar">
                    </div>
                    </div>


                </form>




                    </div>
            </div>
</div>

{% endblock %}
