{% extends "app/base_template.html" %}

{% block content %}
<div class="content-page">
            <div class="content">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">Buscar paciente</div>
                            <div class="panel-body">
                                <form action="{% url 'app:pacienteList' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                             <label>Codigo paciente</label>
                                             <input id="codigo" name="codigo" class="form-control" type="text" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                             <label>Nombre </label>
                                             <input id="nombre" name="nombre" class="form-control" type="text" >
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                             <label>Apellido </label>
                                             <input id="apellido" name="apellido" class="form-control" type="text" >
                                        </div>
                                    </div>

                                    <input class="btn btn-primary" type="submit" value="Buscar" >
                                </form>
                            </div>

                        </div>


                        {% if error_message %}<span class="label label-danger">{{ error_message }}</span>{% endif %}
                    </div>
            </div>
</div>

{% endblock %}