{% extends "app/base_template.html" %}

{% block content %}
      <div class="content-page">
            <div class="content">
                    <div class="container">
                        {% for padecimiento in padecimientos %}
			<div style="display: none;" class="checkbox">
				{% if padecimiento.id_catalogo.id_catalogo == 1 %}
					<input id="enf1" type="checkbox" value="1" checked>
                    <label for="enf1">Diabetes</label>
				{% endif %}
				{% if padecimiento.id_catalogo.id_catalogo == 2 %}
					<input id="enf2" type="checkbox" value="2" checked>
                    <label for="enf2">Esquizofrenia </label>
				{% endif %}

                {% if padecimiento.id_catalogo.id_catalogo == 3 %}

                                      <input id="enf3"  name="enf3" type="checkbox" value="True">
                                      <label for="enf3">Bronquitis</label>
                {% endif %}

                {% if padecimiento.id_catalogo.id_catalogo == 4 %}

                                      <input id="enf4" name="enf4" type="checkbox" value="True">
                                        <label for="enf4">Asma</label>

                {% endif %}
                {% if padecimiento.id_catalogo.id_catalogo == 5 %}

                                      <input id="enf5" name="enf5" type="checkbox" value="True">
                                        <label for="enf5">Hepatatis</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 6 %}

                                      <input id="enf6"  name="enf6" type="checkbox" value="True">
                                      <label for="enf6">Varicela</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 7 %}
                                      <input id="enf7" name="enf7" type="checkbox" value="True">
                                        <label for="enf7">Viruela</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 8 %}

                                      <input id="enf8"  name="enf8" type="checkbox" value="True">
                                      <label for="enf8">Sarampion</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 9 %}

                                      <input id="enf9" name="enf9" type="checkbox" value="True">
                                        <label for="enf9">Paludismo</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 10 %}

                                      <input id="enf10" name="enf10" type="checkbox" value="True">
                                        <label for="enf10">Leucemia</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 11 %}

                                      <input id="enf11"  name="enf11" type="checkbox" value="True">
                                      <label for="enf11">Anemia</label>


                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 12 %}

                                      <input id="enf12" name="enf12" type="checkbox" value="True">
                                        <label for="enf12">Transtorno alimenticio</label>
                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 13 %}
                                      <input id="enf13"  name="enf13" type="checkbox" value="True">
                                      <label for="enf13">Transtorno del sistema nervioso</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 14 %}
                                      <input id="enf14" name="enf14" type="checkbox" value="True">
                                        <label for="enf14">Infartos</label>

                {% endif %}
            {% if padecimiento.id_catalogo.id_catalogo == 15 %}
                                      <input id="enf15" name="enf15" type="checkbox" value="True">
                                        <label for="enf15">Embolia</label>

                {% endif %}



			</div>
		{% endfor %}

		<form action="{% url 'app:historialUpdate' %}" method="post">
			{% csrf_token %}
			<input style="display: none;" type="text" name="pacid" value="{{paciente.id_paciente}}">

			<div class="panel panel-default">
		  		<div class="panel-heading">Historial medico del paciente: {{paciente.id_persona.nombre}} </div>
		  		<div class="panel-body">
		  			<div class="form-group">
						<div class="col-sm-4">
                                        <div class="checkbox">
                                      <input id="en1"  name="en1" type="checkbox" value="True">
                                      <label for="en1">Diabetes</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en2" name="en2" type="checkbox" value="True">
                                        <label for="en2">Esquizofrenia</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en3"  name="en3" type="checkbox" value="True">
                                      <label for="en3">Bronquitis</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en4" name="en4" type="checkbox" value="True">
                                        <label for="en4">Asma</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en5" name="en5" type="checkbox" value="True">
                                        <label for="en5">Hepatatis</label>
                                    </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                      <input id="en6"  name="en6" type="checkbox" value="True">
                                      <label for="en6">Varicela</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en7" name="en7" type="checkbox" value="True">
                                        <label for="en7">Viruela</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en8"  name="en8" type="checkbox" value="True">
                                      <label for="en8">Sarampion</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en9" name="en9" type="checkbox" value="True">
                                        <label for="en9">Paludismo</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en10" name="en10" type="checkbox" value="True">
                                        <label for="en10">Leucemia</label>
                                    </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                      <input id="en11"  name="en11" type="checkbox" value="True">
                                      <label for="en11">Anemia</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en12" name="en12" type="checkbox" value="True">
                                        <label for="en12">Transtorno alimenticio</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en13"  name="en13" type="checkbox" value="True">
                                      <label for="en13">Transtorno del sistema nervioso</label>
                                    </div>
                                    <div class="checkbox">
                                      <input id="en14" name="en14" type="checkbox" value="True">
                                        <label for="en14">Infartos</label>
                                    </div>
                                        <div class="checkbox">
                                      <input id="en15" name="en15" type="checkbox" value="True">
                                        <label for="en15">Embolia</label>
                                    </div>
                                    </div>
		  			</div>

		  		</div>
		  		<div class="panel-footer">
		  			<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Guardar" name="">
					</div>
		  		</div>
			</div>
		</form>
            </div>
      </div>
    {% block javascript %}
     <script type="text/javascript">

	$(document).ready(function(){
			for (var i = 1; i < 16; i++) {
				if ($("#enf"+i).length) {
			     	$("#en"+i).attr('checked', true);
	      		}
			}
	    });
        </script>
    {% endblock %}


{% endblock %}