{% extends "app/base_template.html" %}

{% block content %}
    <div class="content-page">
            <div class="content">
                    <div class="container">

<div class="row">

      <h4>  Servicio hospitalario: {{ servicio.id_catalogo.catalogo}} </h4>
      <h5> Tipo de servicio: {{servicio.id_catalogo.id_tipo_catalogo.tipo_catalogo}} </h5>
    <h5>Fecha de inicio: {{ servicio.fecha_inicio|date:"d-m-Y" }}</h5>
    <h5>Duracion: {{ servicio.duracion }}</h5>


</div>
                    <br />
<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#registro">Ingresar registro Diario</button>

<!-- Modal -->

<div id="registro" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="{% url 'app:bitacoraSave' %}" method="post">
	{% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registro diario</h4>
      </div>

 <input style="display: none;" type="number" name="serv_id" value="{{ servicio.id_servicio_hospitalario }}">
      <div class="modal-body">
         <div class="form-group">
         	<label>Comentario:</label>
         	<textarea id="comentario" name="comentario" class="form-control"></textarea>

         </div>
      </div>

      <div class="modal-footer">
      	<input class="btn btn-primary" type="submit" name="" value="Guardar">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</form>
  </div>
</div>

                        <div id="edicion" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form action="{% url 'app:bitacoraUpdate' %}" method="post">
	{% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editar registro</h4>
      </div>

 <input style="display: none;" type="number" id="bitacora_id" name="bitacora_id" value="">
      <div class="modal-body">
         <div class="form-group">
         	<label>Comentario:</label>
         	<textarea id="editc" name="editc" class="form-control"></textarea>

         </div>
      </div>

      <div class="modal-footer">
      	<input class="btn btn-primary" type="submit" name="" value="Guardar">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</form>
  </div>
</div>





{% if registros %}

<table class="table">
                <thead>
                    <tr>
                    <th>N°</th>
                    <th>Comentario</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for registro in registros %}
                    <tr>
                        <td><input style="display: none;" id="id{{forloop.counter}}" type="text" name="" value="{{registro.id_bitacora}}">{{forloop.counter}}</td>
                        <td><input style="display: none;" id="comentario{{forloop.counter}}" type="text" name="" value="{{registro.comentario}}">{{registro.comentario}}</td>
                        <td><input style="display: none;" id="fecha{{forloop.counter}}" type="text" name="" value="{{registro.fecha}}">{{registro.fecha}}</td>
                        <td><ul>
                              <li><a id="{{forloop.counter}}" onclick="edit(this.id)" href="#">Editar</a></li>

                            </ul></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

{% else %}
No hay datos
{% endif %}
                    </div>
            </div>
    </div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function edit(id) {
            $("#bitacora_id").val($("#id"+id).val());
            $("#editc").html($("#comentario"+id).val());
            $("#edicion").modal('show');

        }
    </script>
{% endblock %}