{% extends "app/base_template.html" %}

{% block content %}
      <div class="content-page">
            <div class="content">
                    <div class="container">
                        <label>Nombre Paciente: </label>{{ paciente.id_persona.nombre }}
                    <br />
	<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" onclick="agregar()" >Agregar pariente</button>

<!-- Modal -->
<div id="modalPariente" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="title" class="modal-title">Agregar pariente</h4>
      </div>
      <form action="{% url 'app:parienteSave' %}" method="post">
      	{% csrf_token %}
          <input id="flag" type="number" name="flag" style="display: none;" >
          <input id="pariente" type="number" name="pariente"  style="display: none;">
      <div class="modal-body">
      		<input style="display: none;" type="text" name="paciente_id" value="{{ paciente.id_paciente }}">
        <div class="row">
           <div class="col-sm-4 form-group">
                <label>Nombre</label>
                <input class="form-control" type="text" name="nombre" id="nombre" required>
            </div>
            <div class="col-sm-4 form-group">
                <label>Apellido</label>
                <input class="form-control" type="text" name="apellido" id="apellido" required>
             </div>
             <div class="col-sm-4 form-group">
                <label>Telefono</label>
                <input class="form-control" type="number" name="telefono" id="telefono" required>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-4 form-group">
                <label>Fecha Nacimiento</label>
                <input class="form-control" type="date" name="fechaN" id="fechaN" required>
            </div>
            <div class="col-sm-4 form-group">
                <label>Email</label>
                <input class="form-control" type="email" name="email" id="email" required>
            </div>
            <div class="col-sm-4 form-group">
                        <label>Genero</label>
                        <div class="radio">
                            <input type="radio" value="M" id="M" name="genero" required>
                            <label for="M">Masculino</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="F" id="F" name="genero" required>
                            <label for="F">Femenino</label>
                        </div>
              </div>

        </div>
         <div class="row">
                    <div class="col-sm-8 form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" id="direccion" name="direccion">
                    </div>

                    <div class="col-sm-4 form-group">
                    <div class="form-group">
                          <label for="sel1">Parentesco</label>
                          <select class="form-control" id="sel1" name="sel1" required>
                            <option value="">- Seleccione -</option>
                            <option value="Padre">Padre</option>
                            <option value="Madre">Madre</option>
                            <option value="Conyugue">Conyugue</option>
                            <option value="Otro">Otro</option>
                          </select>
                    </div>
            </div>

                </div>
      </div>
      <div class="modal-footer">
      	<input class="btn btn-primary" type="submit" name="" value="Guardar">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
  </form>
    </div>

  </div>
</div>

	{% if familia %}
            <table class="table">
                <thead>
                    <tr>
                    <th style="display: none;"></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Direccion</th>
                    <th>Parentesco</th>
                    <th>Fecha Nacimiento</th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for miembro in familia %}
                    <tr>
                        <td style="display: none;"><input style="display: none;" id="id{{ forloop.counter }}" type="number" name="" value="{{ miembro.id_persona.id_persona }}"><td
                        <td><input style="display: none;" id="nombre{{forloop.counter}}" type="text" name="" value="{{miembro.id_persona.nombre}}">{{miembro.id_persona.nombre}}</td>
                        <td><input style="display: none;" id="apellido{{forloop.counter}}" type="text" name="" value="{{miembro.id_persona.apellido}}">{{miembro.id_persona.apellido}}</td>
                        <td><input style="display: none;" id="telefono{{forloop.counter}}" type="text" name="" value="{{miembro.id_persona.telefonos}}">{{miembro.id_persona.telefonos}}</td>
                        <td><input style="display: none;" id="email{{ forloop.counter }}" type="email" name="" value="{{ miembro.id_persona.email }}">{{ miembro.id_persona.email }}</td>
                        <td><input style="display: none;" id="direccion{{forloop.counter}}" type="text" name="" value="{{miembro.id_persona.direccion}}">{{miembro.id_persona.direccion}}</td></td>
                        <td><input style="display: none;" id="parentesco{{forloop.counter}}" type="text" name="" value="{{miembro.parentesco}}">{{miembro.parentesco}}</td>
                        <td><input style="display: none;" id="fechaN{{forloop.counter}}" type="text" name="" value="{{miembro.id_persona.fecha_nacimiento|date:'d-m-Y'}}">{{miembro.id_persona.fecha_nacimiento}}</td>
                        <td><ul style="list-style:none;">
                              <li><a id="{{forloop.counter}}" onclick="edit(this.id)" href="#"><span class="label label-warning">Editar</span></a></li>

                            </ul></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No hay datos.</p>
            {% endif %}

                    </div>
            </div>
      </div>
<script type="text/javascript">
    function agregar() {
        $("#flag").val(0);
        $("#title").html("Agregar pariente");
        $("#nombre").val(" ");
        $("#apellido").val(" ");
        $("#telefono").val(" ");
        $("#fechaN").val(" ");
        $("#genero").val(" ");
        $("#telefono").val(" ");
        $("#email").val(" ");
        $("#direccion").val(" ");
        $("#modalPariente").modal('show');
    }
       

     function edit(id){
        var pariente = $("#id"+id).val();
        var fecha = $("#fechaN"+id).val().split('-');
        var fechaedit = fecha[2]+"-"+fecha[1]+"-"+fecha[0];
        $("#title").html("Editar paciente");
        $("#flag").val(1);
        $("#pariente").val(pariente);
        $("#nombre").val($("#nombre"+id).val());
        $("#apellido").val($("#apellido"+id).val());
        $("#telefono").val($("#telefono"+id).val());
        $("#fechaN").val(fechaedit);
        if($("#genero"+id).val() == 'F' ){
            $("#F").prop("checked", true);
        }else{
            $("#M").prop("checked", true);
        }
        $("#email").val($("#email"+id).val());
        $("#direccion").val($("#direccion"+id).val());
        $("#sel1").val($("#parentesco"+id).val());
        $("#modalPariente").modal('show');
     }

    
     
 </script>
    
{% endblock %}