{% extends "app/base_template.html" %}

{% block content %}
      <div class="content-page">
            <div class="content">
                    <div class="container">



  <!-- Modal -->
  <div class="modal fade" id="agregar" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <form action="{% url 'app:pancienteSave' %}" method="post">
        {% csrf_token %}
          <input id="flag" type="number" name="flag" style="display: none;" value="1">
          <input id="pid" type="number" name="pid"  style="display: none;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 id="title" class="modal-title">Editar paciente</h4>
        </div>
        <div class="modal-body">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           <a data-toggle="collapse" data-parent="#accordion2" href="#collap1">Datos personales</a>
                        </h4>
                    </div>
            <div id="collap1" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="row">
                   <div class="col-sm-4 form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" id="apellido" name="apellido" required>
                     </div>
                     <div class="col-sm-4 form-group">
                        <label>Apellido de casada</label>
                        <input class="form-control" type="text" id="apellidoC" name="apellidoC">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="number" id="telefono" name="telefono" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Fecha Nacimiento</label>
                        <input class="form-control" type="date" id="fechaN" name="fechaN" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" id="direccion" name="direccion" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Genero</label>
                        <div class="radio">
                            <input type="radio" value="M" id="M" name="genero">
                            <label for="M">Masculino</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="F" id="F" name="genero">
                            <label for="F">Femenino</label>
                        </div>
                    </div>

                </div>


              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collap3">
                Datos del responsable</a>
              </h4>
            </div>
            <div id="collap3" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                   <div class="col-sm-4 form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" id="nombreR" name="nombreR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Apellido</label>
                        <input class="form-control" type="text" id="apellidoR" name="apellidoR" required>
                     </div>
                     <div class="col-sm-4 form-group">
                        <label>Telefono</label>
                        <input class="form-control" type="number" id="telefonoR" name="telefonoR" required>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-4 form-group">
                        <label>Fecha Nacimiento</label>
                        <input class="form-control" type="date" id="fechaNR" name="fechaNR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" id="emailR" name="emailR" required>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Genero</label>
                        <div class="radio">
                            <input type="radio" value="M" id="MR" name="generoR" required>
                            <label for="MR">Masculino</label>
                        </div>
                        <div class="radio">
                            <input type="radio" value="F" id="FR" name="generoR" required>
                            <label for="FR">Femenino</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <label>Direccion</label>
                        <input class="form-control" type="text" id="direccionR" name="direccionR" required>
                    </div>


                </div>
                </div>
            </div>
          </div>

                              </div>
                        </div>
            <div class="modal-footer">
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" name="" value="Guardar">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
            </div>
                    </div>

                </div>
            </div>



                </form>
                    <h3>{{ message }}</h3>
             {% if pacientes %}
                 <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                    <th style="display: none;">Idpaciente</th>
                        <th>Cod Expediente</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>Fecha Nacimiento</th>
                    <th>Genero</th>
                    <th style="display: none;"></th>
                    <th style="display: none;"></th>
                    <th style="display: none;"></th>
                    <th style="display: none;"></th>
                    <th style="display: none;"></th>
                    <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                    <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paciente in pacientes %}
                    <tr>
                        <td style="display: none;"><input style="display: none;" id="id{{forloop.counter}}" type="number" name="" value="{{paciente.id_paciente}}">{{paciente.id_paciente}}</td>
                         <td><input style="display: none;" id="codigo{{forloop.counter}}"  type="text" name="" value="{{paciente.codigo_expediente}}">{{paciente.codigo_expediente}}-{{paciente.per_id_persona.id_persona}}</td>
                        <td><input style="display: none;" id="nombre{{forloop.counter}}"  type="text" name="" value="{{paciente.id_persona.nombre}}">{{paciente.id_persona.nombre}}</td>
                        <td><input style="display: none;" id="apellido{{forloop.counter}}"  type="text" name="" value="{{paciente.id_persona.apellido}}">{{paciente.id_persona.apellido}}</td>
                        <td><input style="display: none;" id="telefono{{forloop.counter}}" type="number" name="" value="{{paciente.id_persona.telefonos}}">{{paciente.id_persona.telefonos}}</td>
                        <td><input style="display: none;" id="fechaN{{forloop.counter}}" type="text" name="" value="{{paciente.id_persona.fecha_nacimiento|date:'d-m-Y'}}">{{paciente.id_persona.fecha_nacimiento}}</td>
                        <td><input style="display: none;" id="genero{{forloop.counter}}" type="text" name="" value="{{paciente.id_persona.genero}}">{{paciente.id_persona.genero}}</td>
                        <td style="display: none;"><input style="display: none;" id="direccion{{forloop.counter}}" type="text" name="" value="{{paciente.id_persona.direccion}}"></td>
                        <td style="display: none;"><input style="display: none;" id="email{{forloop.counter}}" type="email" name="" value="{{paciente.id_persona.email}}"></td>
                        <td style="display: none;"><input style="display: none;" id="apellidoC{{forloop.counter}}" type="email" name="" value="{{paciente.id_persona.apellido_casada}}"></td>
                        <td style="display: none;"><input style="display: none;" id="nombreR{{forloop.counter}}" type="text" name="" value="{{paciente.per_id_persona.nombre}}"></td>
                        <td style="display: none;"><input style="display: none;" id="apellidoR{{forloop.counter}}" type="text" name="" value="{{paciente.per_id_persona.apellido}}"></td>
                        <td style="display: none;"><input style="display: none;" id="telefonoR{{forloop.counter}}" type="number" name="" value="{{paciente.per_id_persona.telefonos}}"></td>
                        <td style="display: none;"><input style="display: none;" id="emailR{{forloop.counter}}" type="email" name="" value="{{paciente.per_id_persona.email}}"></td>
                        <td style="display: none;"><input style="display: none;" id="generoR{{forloop.counter}}" type="text" name="" value="{{paciente.per_id_persona.genero}}"></td>
                        <td style="display: none;"><input style="display: none;" id="fechaNR{{forloop.counter}}" type="text" name="" value="{{paciente.per_id_persona.fecha_nacimiento|date:'d-m-Y'}}"></td>
                        <td style="display: none;"><input style="display: none;" id="direccionR{{forloop.counter}}" type="text" name="" value="{{paciente.per_id_persona.direccion}}"></td>

                        <td><ul style="list-style: none;">
                              <li><a href="{% url 'app:parientes' paciente.id_paciente %}"><span class="label label-primary">Agregar parientes</span></a></li>
                              <li><a id="{{forloop.counter}}" onclick="edit(this.id)"   href="#"><span class="label label-warning">Editar</span></a></li>
                              <li><a id="d{{forloop.counter}}" onclick="detalles(this.id)"  href="#"><span class="label label-success">Ver detalles</span></a></li>
                            <li><a href="{% url 'app:historialIndex' paciente.id_paciente %}"><span class="label label-purple">Historial medico</span></a></li>
                            </ul></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
                                            </div>
                 </div>

            {% else %}
            <p>No hay datos.</p>
            {% endif %}



    <!-- Modal -->
    <div id="detalles" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Detalles del paciente</h4>
          </div>
          <div class="modal-body">
              <h4>Datos personales</h4>
            <div class="row">
                 <div class="col-sm-3">
                    <label>Codigo</label>
                    <div id="codigoD"></div>
                </div>
                <div class="col-sm-3">
                    <label>Nombre</label>
                    <div id="nombreD"></div>
                </div>
                <div class="col-sm-3">
                    <label>Apellido</label>
                    <div id="apellidoD"></div>
                </div>
                <div class="col-sm-3">
                    <label>Apellido casada</label>
                    <div id="apellidoCD"></div>
                </div>

          </div>
          <div class="row">
              <div class="col-sm-3">
                    <label>Telefono</label>
                    <div id="telefonoD"></div>
                </div>
                <div class="col-sm-3">
                    <label>Direccion</label>
                    <div id="direccionD"></div>
                </div>
                <div class="col-sm-3">
                    <label>Email</label>
                    <div id="emailD"></div>
                </div>
                <div class="col-sm-3">
                    <label>Genero</label>
                    <div id="generoD"></div>
                </div>



          </div>
              <div class="row">
                  <div class="col-sm-3">

                  <label>Fecha nacimiento</label>
                  <div id="fechaND"></div>

                  </div>

              </div>
            <br /><br />
              <h4>Datos responsable</h4>
          <div class="row">
             <div class="col-sm-3">
               <label>Nombre responsable</label>
               <div id="nombreRD"></div>
             </div>
             <div class="col-sm-3">
               <label>Apellido responsable</label>
               <div id="apellidoRD"></div>
             </div>
              <div class="col-sm-3">
               <label>Telefono</label>
               <div id="telefonoRD"></div>
             </div>
              <div class="col-sm-3">
               <label>Email</label>
               <div id="emailRD"></div>
             </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
</div>
                    </div>
            </div>
      </div>
 <script type="text/javascript">
    function agregar() {
        $("#flag").val(0);
        $("#title").html("Agregar pariente");
        $("#nombre").val(" ");
        $("#apellido").val(" ");
        $("#telefono").val(" ");
        $("#fechaN").val(" ");

        if($("#genero").val() == 'F' ){
            $("#F").prop("checked", false);
        }else{
            $("#M").prop("checked", false);
        }
        $("#telefono").val(" ");
        $("#email").val(" ");
        $("#direccion").val(" ");
        $("#panelHistorial").css('display','block');
        $("#agregar").modal('show');
    }


     function edit(id){
        var pid = $("#id"+id).val();
        var fecha = $("#fechaN"+id).val().split('-');
        var fechaedit = fecha[2]+"-"+fecha[1]+"-"+fecha[0];
        var fecha = $("#fechaNR"+id).val().split('-');
        var fechaeditR = fecha[2]+"-"+fecha[1]+"-"+fecha[0];

        $("#flag").val(1);
        $("#pid").val(pid);
        $("#nombre").val($("#nombre"+id).val());
        $("#apellido").val($("#apellido"+id).val());
        $("#telefono").val($("#telefono"+id).val());
        $("#fechaN").val(fechaedit);
        if($("#genero"+id).val() == 'F' ){
            $("#F").prop("checked", true);
        }else{
            $("#M").prop("checked", true);
        }
        $("#email").val($("#email"+id).val());
        $("#direccion").val($("#direccion"+id).val());
        $("#nombreR").val($("#nombreR"+id).val());
        $("#apellidoR").val($("#apellidoR"+id).val());
        $("#telefonoR").val($("#telefonoR"+id).val());
        $("#emailR").val($("#emailR"+id).val());
        if($("#generoR"+id).val() == 'F' ){
            $("#FR").prop("checked", true);
        }else{
            $("#MR").prop("checked", true);
        }
        $("#fechaNR").val(fechaeditR);
        $("#direccionR").val($("#direccionR"+id).val());
        $("#panelHistorial").css('display','none');
        $("#agregar").modal('show');
     }
     function detalles(id){
        var id = id.substr(1);
        $("#codigoD").html($("#codigo"+id).val());
         $("#nombreD").html($("#nombre"+id).val());
         $("#apellidoD").html($("#apellido"+id).val());
         $("#telefonoD").html($("#telefono"+id).val());
         $("#direccionD").html($("#direccion"+id).val());
         $("#emailD").html($("#email"+id).val());
         if ($("#genero"+id).val() == 'F'){
             $("#generoD").html('Femenino');
         }else{
             $("#generoD").html('Masculino');
         }

         $("#fechaND").html($("#fechaN"+id).val());
         $("#nombreRD").html($("#nombreR"+id).val());
         $("#apellidoRD").html($("#apellidoR"+id).val());
         $("#emailRD").html($("#emailR"+id).val());
         $("#telefonoRD").html($("#telefonoR"+id).val());
         $("#detalles").modal('show');
     }


 </script>



{% endblock %}
{% block javascript %}
 <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable').dataTable();
                $('#datatable-keytable').DataTable( { keys: true } );
                $('#datatable-responsive').DataTable();
                $('#datatable-scroller').DataTable( { ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
                var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
            } );
            TableManageButtons.init();
        </script>
{% endblock %}

