{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Asignar Signos Vitales </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Paciente</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form"  method="POST" action="{% url 'app:BuscarPacienteSignoVital' %}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="epaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  id="epaciente" name="epaciente" type="text" maxlength="25" required>
                                                    <br>
                                                         {% if error_message %}<p ><strong ><h3 class="label label-danger" >{{ error_message }}</h3></strong></p>{% endif %}
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos del Paciente</h3></div>
                                    <div class="panel-body">

                                        {% if paciente%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha de Actual</th>


                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>

                                        <tr>
                                         <th scope="row">{{ paciente.id_persona.nombre}} {{ paciente.id_persona.apellido}}</th>
                                         <td>{{ fecha.format}} </td>

                                         <td>
                                                         {% if signo %}
                                                        <a namef="nada"  ><span class="label label-info">{{ mensaje }}</span></a>
                                                             <a href="{% url 'app:EditarSignoVital' paciente.id_paciente%}" ><span class="label label-success">Editar Signo Vital</span></a>
                                                             <a href="{% url 'app:EliminarSignoVital' paciente.id_paciente %}" onclick="return confirm('¿Desea Eliminar el Registro de Signo Vital?')"><span class="label label-danger">Eliminar</span></a>


                                                         {% else %}
                                                             <a href="{% url 'app:crearSignoVital' paciente.id_paciente%}"><span class="label label-success">Ingresar Signos Vitales</span></a>
                                                             <a name="" ><span class="label label-success">Editar Examen</span></a>
                                                             <a name="" ><span class="label label-success">Editar Signo Vital</span></a>
                                                         {% endif %}

                                         </td>
                                       </tr>



  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha de Consulta</th>
                                          <th scope="col">Doctor Encargado</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay registros</th>


                                        </tr>

                                       </tbody>
                                </table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}