
{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Ingreso de Signos Vitales</h4>

                            </div>
                        </div>





                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Signos Vitales</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="{% url 'app:crearSignoVital' paciente.id_paciente%}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ paciente.id_persona.nombre}} {{ paciente.id_persona.apellido }}" >


                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label for="peso" class="control-label col-lg-2">Peso:</label>
                                                    <div class="col-lg-10">
                                                        <input  class=" form-control" id="peso" name="peso" type="number" step="any" required="required" placeholder="0.00 Lbs" min="0" pattern="^\d+(?:\.\d{1,2})?$">
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="estatura" class="control-label col-lg-2">Estatura:</label>
                                                    <div class="col-lg-10">
                                                        <input  class=" form-control" id="estatura" name="estatura" type="number" step="any" required="required" placeholder="0.00 mts" min="0"  pattern="^\d+(?:\.\d{1,2})?$">
                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Presion Arterial:</label>

                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control"  name="presion" >
                                                       </div>
                                                </div>


                                                         <div class="form-group ">
                                                    <label for="ritmo" class="control-label col-lg-2">Rítmo Cardiaco:</label>

                                                        <div class="col-lg-10">
                                                            <input type="text" class="form-control" name="ritmo" >
                                                       </div>
                                                </div>

                                                         <div class="form-group ">
                                                    <label for="frecuencia" class="control-label col-lg-2">Frecuancia Respiratoria:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" rows="3" id="frecuencia" name="frecuencia" type="text">

                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha Actual:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="{{ fecha.format}}"  name="fecha" readonly="readonly">
                                                       </div>
                                                </div>
                                                        <br>
                                                          {% if confirm_message %}<p><strong><h3 class="label label-success">{{ confirm_message }}</h3></strong></p>{% endif %}
                                                        <br>




                                                     <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Enviar</button>

                                                    </div>
                                                </div>
                                                    </form>






                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}