{% extends "app/base_template.html" %}


{% block content %}


    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Historial Signos Vitales </h4>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Buscar Paciente</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">
                                            <form class="cmxform form-horizontal tasi-form"  method="POST" action="{% url 'app:HistoricoSignoVital'%}" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="epaciente" class="control-label col-lg-2">Expediente del Paciente:</label>
                                                    <div class="col-lg-10">
                                                        <input  class="form-control"  id="epaciente" name="epaciente" type="text" maxlength="25" required>
                                                    <br>
                                                         {% if error_message %}<p ><strong ><h3 class="label label-danger" >{{ error_message }}</h3></strong></p>{% endif %}
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <div class="col-lg-offset-2 col-lg-10">
                                                        <button class="btn btn-success waves-effect waves-light" type="submit">Buscar</button>

                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!-- .form -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->


                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Datos del Paciente</h3></div>
                                    <div class="panel-body">

                                        {% if signo%}
                                    <table class="table">
                                      <thead>
                                        <tr>
                                           <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha </th>


                                            <th scope="col">Opciones</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                      {% for signos in signo %}
                                        <tr>

                                         <td scope="row">{{ signos.id_paciente.id_persona.nombre}} {{ signos.id_paciente.id_persona.apellido}}</td>
                                         <td>{{ signos.fecha}} </td>

                                         <td>

                                                             <a href="{% url 'app:DetalleHistoricoSignoVital' signos.id_signovital2 %}" ><span class="label label-success">Ver</span></a>



                                         </td>

                                       </tr>
                                       {% endfor %}

  </tbody>
</table>
                                        {% else %}
                                                              <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre del Paciente</th>
                                          <th scope="col">Fecha a</th>

                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                         <th scope="row">No hay registros</th>


                                        </tr>

                                       </tbody>
                                </table>




                                        {% endif %}

                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>


{% endblock %}