{% extends "app/base_template.html" %}

{% block content %}




     <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">Historial de Signos Vitales</h4>

                            </div>
                        </div>





                        <!-- Form-validation -->
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Signos Vitales</h3></div>
                                    <div class="panel-body">
                                        <div class=" form">


                                                    <form class="cmxform form-horizontal tasi-form" id="signupForm" method="post" action="" >
                                                {% csrf_token %}
                                                <div class="form-group ">
                                                    <label for="npa" class="control-label col-lg-2">Nombre del Paciente </label>
                                                    <div class="col-lg-10">
                                                        <input readonly="readonly" class=" form-control" id="" name="" type="text" value="{{ signo.id_paciente.id_persona.nombre}} {{ signo.id_paciente.id_persona.apellido }}" >


                                                    </div>
                                                </div>

                                                <div class="form-group ">
                                                    <label for="peson" class="control-label col-lg-2">Peso:</label>
                                                    <div class="col-lg-10">
                                                        <input  class=" form-control" readonly="readonly" name="peso" type="text"   required="required" placeholder="{{ signo.peso }}" step="any">
                                                    </div>
                                                </div>


                                                <div class="form-group ">
                                                    <label for="estaturan" class="control-label col-lg-2">Estatura:</label>
                                                    <div class="col-lg-10">
                                                        <input  class=" form-control"  readonly="readonly" name="estatura" type="text"   placeholder="{{ signo.estatura }}" step="any"  required  >
                                                    </div>
                                                </div>



                                                <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Presion Arterial:</label>

                                                        <div class="col-lg-10">
                                                            <input type="text" readonly="readonly" class="form-control"  name="presion" value="{{ signo.presion_arterial }}">
                                                       </div>
                                                </div>


                                                         <div class="form-group ">
                                                    <label for="ritmo" class="control-label col-lg-2">Rítmo Cardiaco:</label>

                                                        <div class="col-lg-10">
                                                            <input type="text" readonly="readonly" class="form-control" name="ritmo" value="{{ signo.ritmo_cardiaco }}">
                                                       </div>
                                                </div>

                                                         <div class="form-group ">
                                                    <label for="frecuencia" class="control-label col-lg-2">Frecuancia Respiratoria:</label>
                                                    <div class="col-lg-10">
                                                        <input class="form-control" readonly="readonly" rows="3" id="frecuencia" name="frecuencia" type="text" value="{{ signo.frecuencia_respiratoria }}">

                                                    </div>
                                                </div>

                                                    <div class="form-group ">
                                                    <label for="fecha" class="control-label col-lg-2">Fecha Actual:</label>

                                                        <div class="col-lg-10">
                                                            <input type="date" class="form-control" value="{{ signo.fecha.isoformat}}"  name="fecha" readonly="readonly">
                                                       </div>
                                                </div>

                                                    </form>






                                        </div> <!-- .form -->

                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->

                        </div> <!-- End row -->



            </div> <!-- container -->

                </div> <!-- content -->



            </div>





{% endblock %}